<a href="https://colab.research.google.com/github/chanseongparkk/2022_Data_Analysis_Intern_project/blob/main/2_%EC%82%AC%EC%A0%84%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [ ]:
# 동 feature 만들기
def 동(df, feature):
 동 = []
 for i in range(len(df)):
   동_list = df[feature].str.split()[i][2]
   동.append(동_list)
 df["동"] = 동

# 구 feature 만들기
def 구(df, feature):
 구 = []
 for i in range(len(df)):
   구_list = df[feature].str.split()[i][1]
   구.append(구_list)
 df["구"] = 구
 
# 월 feature 만들기
def 월(df, feature):
 월 = []
 for i in range(len(df)):
   월_list = df[feature].str.split()[i][1]
   월.append(월_list)
 df["월"] = 월

# 년 feature 만들기
def 년(df, feature):
 년 = []
 for i in range(len(df)):
   년_list = df[feature].str.split()[i][0]
   년.append(년_list)
 df["년"] = 년

# 사전분석 및 사고 데이터셋 생성

## 1. 사전분석(t-test)

### 강남구

#### 1. 바닥신호등 설치 전 후 사고 건수 비교

In [ ]:
gn18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남,광진,동대문구/강남구_18~19.csv", encoding = "euc-kr")
gn20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남,광진,동대문구/강남구_20~21.csv", encoding = "euc-kr")
gn_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남,광진,동대문구/강남구바닥신호등.csv", encoding = "euc-kr")
display(gn18_19.head(3), gn20_21.head(3), gn_tr.head(3))

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2018010200100439,2018년 1월 2일 21시,화요일,서울특별시 강남구 역삼동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,교차로 - 교차로부근,승용,여,32세,상해없음,보행자,남,34세,경상
1,2018010500100053,2018년 1월 5일 06시,금요일,서울특별시 강남구 논현동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,맑음,단일로 - 기타,승용,남,55세,상해없음,보행자,남,76세,중상
2,2018010500100354,2018년 1월 5일 18시,금요일,서울특별시 강남구 도곡동,부상신고사고,0,0,0,1,차대사람 - 기타,...,맑음,교차로 - 교차로횡단보도내,승용,여,61세,상해없음,보행자,여,23세,부상신고

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2020010100100064,2020년 1월 1일 05시,수요일,서울특별시 강남구 도곡동,사망사고,1,0,0,0,차대사람 - 차도통행중,...,맑음,단일로 - 기타,승용,남,63세,상해없음,보행자,여,29세,사망
1,2020010100100258,2020년 1월 1일 18시,수요일,서울특별시 강남구 삼성동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,44세,상해없음,보행자,남,42세,경상
2,2020010100100333,2020년 1월 1일 21시,수요일,서울특별시 강남구 삼성동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,기타 - 기타,승용,남,34세,상해없음,보행자,남,80세,경상

,신호등명,소재지도로명주소,소재지지번주소,관리기관명,위도,경도,데이터기준일자
0,청담초교앞,서울시 강남구 압구정로 429,서울시 강남구 청담동 141-18,서울특별시 강남구,37.52721,127.04406,2021-09-17
1,포이초교앞,서울시 강남구 개포로22길 87,서울시 강남구 개포동 1273,서울특별시 강남구,37.47592,127.05251,2021-09-17
2,수서동성당앞,서울시 강남구 광평로 199,서울시 강남구 수서동 739,서울특별시 강남구,37.48469,127.09485,2021-09-17

In [ ]:
동(gn18_19, "시군구")
동(gn20_21, "시군구")
동(gn_tr, "소재지지번주소")

In [ ]:
# 도로명주소로 나와있는 동으로 처리
gn_tr["동"][17] = "역삼동"
gn_tr["동"][18] = "도곡동"
gn_tr["동"][18] = "역삼동"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# 강남구 바닥신호등 설치 동 리스트
gn_tr_list = list(gn_tr.동.unique())
gn_tr_list

['청담동',
 '개포동',
 '수서동',
 '자곡동',
 '율현동',
 '세곡동',
 '일원동',
 '역삼동',
 '역삼로',
 '삼성동',
 '논현동',
 '신사동',
 '대치동']

In [ ]:
gn18_19["설치여부"] = np.nan

for i in range(len(gn18_19)):
  if gn18_19["동"][i] in gn_tr_list:
    gn18_19["설치여부"][i] = 1
  else:
    gn18_19["설치여부"][i] = 0

print(gn18_19["설치여부"].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

1.0    1479
0.0      95
Name: 설치여부, dtype: int64

In [ ]:
# 설치되어있는 동의 18-19년 사고 횟수

gn18_19[gn18_19["설치여부"] == 1].shape[0]

1479

In [ ]:
gn20_21["설치여부"] = np.nan

for i in range(len(gn20_21)):
  if gn20_21["동"][i] in gn_tr_list:
    gn20_21["설치여부"][i] = 1
  else:
    gn20_21["설치여부"][i] = 0

print(gn20_21["설치여부"].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

1.0    1279
0.0     101
Name: 설치여부, dtype: int64

In [ ]:
# 설치되어있는 동의 20-21년 사고 횟수

gn20_21[gn20_21["설치여부"] == 1].shape[0]

1279

In [ ]:
# 전 후 차이 
print(gn18_19[gn18_19["설치여부"] == 1].shape[0] - gn20_21[gn20_21["설치여부"] == 1].shape[0])

200

#### 2. t-test

In [ ]:
월(gn18_19, "사고일시")
년(gn18_19, "사고일시")
월(gn20_21, "사고일시")
년(gn20_21, "사고일시")

In [ ]:
display(gn18_19.iloc[:,-2:],gn20_21.iloc[:,-2:])

        월      년
0      1월  2018년
1      1월  2018년
2      1월  2018년
3      1월  2018년
4      1월  2018년
...   ...    ...
1569  12월  2019년
1570  12월  2019년
1571  12월  2019년
1572  12월  2019년
1573  12월  2019년

[1574 rows x 2 columns]

        월      년
0      1월  2020년
1      1월  2020년
2      1월  2020년
3      1월  2020년
4      1월  2020년
...   ...    ...
1375  12월  2021년
1376  12월  2021년
1377  12월  2021년
1378  12월  2021년
1379  12월  2021년

[1380 rows x 2 columns]

In [ ]:
list_gn_1819 = np.array(gn18_19.groupby(["년","월"]).count().iloc[:,0])
list_gn_2021 = np.array(gn20_21.groupby(["년","월"]).count().iloc[:,0])

In [ ]:
# 등분산성 검정
stats.levene(list_gn_1819, list_gn_2021)
# p_value 0.216으로 유의수준 5% 이내에서 등분산성이라는 귀무가설을 채택한다.

LeveneResult(statistic=1.5756728416637547, pvalue=0.21572459621614792)

In [ ]:
# 정규성 검정
print(stats.shapiro(list_gn_1819),"\n",stats.shapiro(list_gn_2021))
# 18_19 데이터는 p_value 0.604, 20_21 데이터는 p_value 0.217으로 유의수준 5% 이내에서 정규성을 만족한다는 귀무가설을 채택한다.

ShapiroResult(statistic=0.9674403667449951, pvalue=0.6043660640716553)
 ShapiroResult(statistic=0.9455828070640564, pvalue=0.21694184839725494)

In [ ]:
# 단측검정
stats.ttest_ind(list_gn_1819,list_gn_2021,alternative='greater')

# H0: 바닥신호등 설치 전과 후의 사고횟수 차이가 없다.
# H1: 바닥신호등 설치 전의 사고횟수가 설치 후의 사고횟수보다 크다.

# p_value 0.007***로 유의수준 5% 이내에서 설치 전과 후가 같다는 귀무가설을 기각하고 설치 전이 후보다 사고 횟수가 많다는 대립가설을 채택한다.

Ttest_indResult(statistic=2.5502139684246696, pvalue=0.007080264562304339)

#### 3. 바닥신호등 설치 동 전 후 사고 감소량 계산

In [ ]:
# 바닥신호등 설치된 동만 추출

gn18_19_ins = gn18_19[gn18_19["설치여부"] == 1]
gn20_21_ins = gn20_21[gn20_21["설치여부"] == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_gn = gn18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_gn = gn20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
gn_acc = pd.concat([pd.DataFrame(bef_acc_gn,columns = ["before"]),pd.DataFrame(aft_acc_gn,columns = ["after"])],axis = 1)
gn_acc

     before  after
동
개포동      60     53
논현동     273    210
대치동     222    193
삼성동     123     95
세곡동      16     10
수서동      48     48
신사동     147    157
역삼동     426    361
율현동       6      2
일원동      42     25
자곡동      17     15
청담동      99    110

In [ ]:
# 감소율 변수 생성
gn_acc["decrease_rate"] = 1 - (gn_acc["after"] / gn_acc["before"] )
gn_acc

     before  after  decrease_rate
동
개포동      60     53       0.116667
논현동     273    210       0.230769
대치동     222    193       0.130631
삼성동     123     95       0.227642
세곡동      16     10       0.375000
수서동      48     48       0.000000
신사동     147    157      -0.068027
역삼동     426    361       0.152582
율현동       6      2       0.666667
일원동      42     25       0.404762
자곡동      17     15       0.117647
청담동      99    110      -0.111111

In [ ]:
c = pd.concat([pd.DataFrame(gn18_19[gn18_19["설치여부"] == 0].value_counts("동"),columns = ["before"]),pd.DataFrame(gn20_21[gn20_21["설치여부"] == 0].value_counts("동"),columns = ["after"])],axis = 1)
1 - (c["after"] / c["before"] )

동
도곡동     0.087500
압구정동   -0.866667
dtype: float64

In [ ]:
c

      before  after
동
도곡동       80     73
압구정동      15     28

### 광진구

#### 1. 바닥신호등 설치 전 후 사고건수 비교

In [ ]:
gj18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/광진구_18~19.csv", encoding = "euc-kr")
gj20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/광진구_20~21.csv", encoding = "euc-kr")
gj_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/광진구바닥신호등.csv", encoding = "euc-kr")
display(gj18_19.head(3), gj20_21.head(3), gj_tr.head(3))

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2018010100100253,2018년 1월 1일 15시,월요일,서울특별시 광진구 중곡동,중상사고,0,1,0,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,여,50세,상해없음,보행자,여,44세,중상
1,2018010200100211,2018년 1월 2일 13시,화요일,서울특별시 광진구 능동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승합,남,56세,상해없음,보행자,남,76세,중상
2,2018010300100105,2018년 1월 3일 09시,수요일,서울특별시 광진구 자양동,중상사고,0,1,0,0,차대사람 - 보도통행중,...,맑음,주차장 - 주차장,승용,여,54세,상해없음,보행자,여,33세,중상

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2020010200100441,2020년 1월 2일 19시,목요일,서울특별시 광진구 중곡동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,53세,상해없음,보행자,남,11세,부상신고
1,2020010300100519,2020년 1월 3일 20시,금요일,서울특별시 광진구 화양동,중상사고,0,1,0,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,남,42세,상해없음,보행자,여,77세,중상
2,2020011100100239,2020년 1월 11일 13시,토요일,서울특별시 광진구 구의동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,여,49세,상해없음,보행자,여,27세,경상

,연번,도로명주소,지번주소,상세위치,수량,위도,경도,관리기관,연락처,자료기준일
0,1,서울특별시 광진구 면목로 131(중곡동),중곡동,중마초등학교,1,37.565205,127.080740,광진구청,02-450-7928,2020-09-20
1,2,서울특별시 광진구 강변역로4길 10(구의동),구의동,강변역(동서울터미널),2,37.535352,127.093405,광진구청,02-450-7928,2020-09-20
2,3,서울특별시 광진구 강변역로 50(구의동),구의동,강변역(동서울터미널),1,37.534538,127.094185,광진구청,02-450-7928,2020-09-20

In [ ]:
동(gj18_19, "시군구")
동(gj20_21, "시군구")

In [ ]:
# 광진구 바닥신호등 설치 동 리스트
gj_tr_list = list(gj_tr.지번주소.unique())
gj_tr_list

['중곡동', '구의동', '자양동', '광장동', '군자동', '화양동']

In [ ]:
gj18_19["설치여부"] = np.nan

for i in range(len(gj18_19)):
  if gj18_19["동"][i] in gj_tr_list:
    gj18_19["설치여부"][i] = 1
  else:
    gj18_19["설치여부"][i] = 0

print(gj18_19["설치여부"].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

1.0    502
0.0     24
Name: 설치여부, dtype: int64

In [ ]:
# 설치되어있는 동의 18-19년 사고 횟수

gj18_19[gj18_19["설치여부"] == 1].shape[0]

502

In [ ]:
gj20_21["설치여부"] = np.nan

for i in range(len(gj20_21)):
  if gj20_21["동"][i] in gj_tr_list:
    gj20_21["설치여부"][i] = 1
  else:
    gj20_21["설치여부"][i] = 0

print(gj20_21["설치여부"].value_counts())

1.0    382
0.0     15
Name: 설치여부, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
# 설치되어있는 동의 18-19년 사고 횟수

gj20_21[gj20_21["설치여부"] == 1].shape[0]

382

In [ ]:
# 전 후 차이 
print(gj18_19[gj18_19["설치여부"] == 1].shape[0] - gj20_21[gj20_21["설치여부"] == 1].shape[0])

120

#### 2. t-test

In [ ]:
월(gj18_19, "사고일시")
년(gj18_19, "사고일시")
월(gj20_21, "사고일시")
년(gj20_21, "사고일시")

In [ ]:
display(gj18_19.iloc[:,-2:],gj20_21.iloc[:,-2:])

       월      년
0     1월  2018년
1     1월  2018년
2     1월  2018년
3     1월  2018년
4     1월  2018년
..   ...    ...
521  12월  2019년
522  12월  2019년
523  12월  2019년
524  12월  2019년
525  12월  2019년

[526 rows x 2 columns]

       월      년
0     1월  2020년
1     1월  2020년
2     1월  2020년
3     1월  2020년
4     1월  2020년
..   ...    ...
392  12월  2021년
393  12월  2021년
394  12월  2021년
395  12월  2021년
396  12월  2021년

[397 rows x 2 columns]

In [ ]:
list_gj_1819 = np.array(gj18_19.groupby(["년","월"]).count().iloc[:,0])
list_gj_2021 = np.array(gj20_21.groupby(["년","월"]).count().iloc[:,0])

In [ ]:
# 등분산성 검정
stats.levene(list_gj_1819, list_gj_2021)
# p_value 0.964로 유의수준 5% 이내에서 등분산성이라는 귀무가설을 채택한다.

LeveneResult(statistic=0.002007155947290325, pvalue=0.9644596180678505)

In [ ]:
list_gj_1819

array([21, 24, 24, 20, 24,  9, 27, 17, 29, 26, 24, 21, 28, 22, 21, 12, 13,
       23, 25, 26, 21, 18, 26, 25])

In [ ]:
list_gj_2021

array([16, 23, 11,  9, 12, 18, 21, 22, 22, 13, 13, 10, 14, 16, 13, 13, 15,
       20, 19, 26, 19, 15, 22, 15])

In [ ]:
# 정규성 검정
print(stats.kstest(list_gj_1819,"norm",args = (list_gj_1819.mean(),list_gj_1819.var()**0.5)),"\n",stats.shapiro(list_gj_2021))
# 18_19 데이터는 p_value 0.395, 20_21 데이터는 p_value 0.449으로 유의수준 5% 이내에서 정규성을 만족한다는 귀무가설을 채택한다.

KstestResult(statistic=0.17677378481352207, pvalue=0.3950778218235568)
 ShapiroResult(statistic=0.9605287313461304, pvalue=0.44913917779922485)

In [ ]:
stats.ttest_ind(list_gj_1819,list_gj_2021,alternative='greater')

# H0: 바닥신호등 설치 전과 후의 사고횟수 차이가 없다.
# H1: 바닥신호등 설치 전의 사고횟수가 설치 후의 사고횟수보다 크다.

# p_value 0.000***로 유의수준 5% 이내에서 설치 전과 후가 같다는 귀무가설을 기각하고 설치 전이 후보다 사고 횟수가 많다는 대립가설을 채택한다.

Ttest_indResult(statistic=3.853789532954378, pvalue=0.00017945257574907141)

#### 3. 바닥신호등 설치 동 전 후 사고 감소량 계산

In [ ]:
# 바닥신호등 설치된 동만 추출

gj18_19_ins = gj18_19[gj18_19["설치여부"] == 1]
gj20_21_ins = gj20_21[gj20_21["설치여부"] == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_gj = gj18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_gj = gj20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
gj_acc = pd.concat([pd.DataFrame(bef_acc_gj,columns = ["before"]),pd.DataFrame(aft_acc_gj,columns = ["after"])],axis = 1)
gj_acc

     before  after
동
광장동      35     19
구의동      98     79
군자동      38     33
자양동     126     82
중곡동      98     77
화양동     107     92

In [ ]:
# 감소율 변수 생성
gj_acc["decrease_rate"] = 1 - (gj_acc["after"] / gj_acc["before"] )
gj_acc

     before  after  decrease_rate
동
광장동      35     19       0.457143
구의동      98     79       0.193878
군자동      38     33       0.131579
자양동     126     82       0.349206
중곡동      98     77       0.214286
화양동     107     92       0.140187

In [ ]:
b = pd.concat([pd.DataFrame(gj18_19[gj18_19["설치여부"] == 0].value_counts("동"),columns = ["before"]),pd.DataFrame(gj20_21[gj20_21["설치여부"] == 0].value_counts("동"),columns = ["after"])],axis = 1)
1 - (b["after"] / b["before"] )

동
능동    0.375
dtype: float64

In [ ]:
b

    before  after
동
능동      24     15

### 동대문구

#### 1.바닥신호등 설치 전 후 사고 건수 비교

In [ ]:
dd18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/동대문구_18~19.csv", encoding = "euc-kr")
dd20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/동대문구_20~21.csv", encoding = "euc-kr")
dd_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/강남, 광진, 동대문구/동대문구바닥신호등.csv", encoding = "euc-kr")
display(dd18_19.head(3), dd20_21.head(3), dd_tr.head(3))

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2018010100100273,2018년 1월 1일 16시,월요일,서울특별시 동대문구 이문동,부상신고사고,0,0,0,1,차대사람 - 기타,...,맑음,단일로 - 기타,승용,남,32세,상해없음,보행자,남,52세,부상신고
1,2018010200100161,2018년 1월 2일 11시,화요일,서울특별시 동대문구 제기동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로안,화물,남,55세,상해없음,보행자,여,69세,중상
2,2018010300100305,2018년 1월 3일 17시,수요일,서울특별시 동대문구 제기동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,55세,상해없음,보행자,여,69세,중상

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2020010100100286,2020년 1월 1일 19시,수요일,서울특별시 동대문구 전농동,중상사고,0,1,0,0,차대사람 - 횡단중,...,흐림,기타 - 기타,승용,여,72세,상해없음,보행자,여,77세,중상
1,2020010200100184,2020년 1월 2일 12시,목요일,서울특별시 동대문구 휘경동,부상신고사고,0,0,0,1,차대사람 - 차도통행중,...,맑음,단일로 - 기타,승용,남,55세,상해없음,보행자,여,83세,부상신고
2,2020010400100076,2020년 1월 4일 06시,토요일,서울특별시 동대문구 장안동,사망사고,1,0,0,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,64세,상해없음,보행자,남,27세,사망

,연번,시설물위치명,소재지도로명주소,소재지지번주소,위도,경도,설치년월,관리기관,연락처,데이터기준일
0,1,완신상사앞,서울특별시 동대문구 한천로 20(장안동),서울특별시 동대문구 장안동 245-2,37.564196,127.059638,Dec-20,서울특별시 동대문구 교통행정과,02-2127-4887,2022-04-20
1,2,남장안치안센터(1),서울특별시 동대문구 한천로10길4(장안동),서울특별시 동대문구 장안동 217-1,37.565487,127.061457,Dec-20,서울특별시 동대문구 교통행정과,02-2127-4887,2022-04-20
2,3,남장안치안센터(2),서울특별시 동대문구 한천로 43(답십리동),서울특별시 동대문구 답십리동 12-266,37.565948,127.061125,Dec-20,서울특별시 동대문구 교통행정과,02-2127-4887,2022-04-20

In [ ]:
dd18_19["사고일시"].str.split()[0][1]

'1월'

In [ ]:
동(dd18_19, "시군구")
동(dd20_21, "시군구")
동(dd_tr, "소재지지번주소")

In [ ]:
# 강남구 바닥신호등 설치 동 리스트
dd_tr_list = list(dd_tr.동.unique())
dd_tr_list

['장안동', '답십리동', '전농동', '제기동', '휘경동', '청량리동']

In [ ]:
dd18_19["설치여부"] = np.nan

for i in range(len(dd18_19)):
  if dd18_19["동"][i] in dd_tr_list:
    dd18_19["설치여부"][i] = 1
  else:
    dd18_19["설치여부"][i] = 0

print(dd18_19["설치여부"].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

1.0    674
0.0    242
Name: 설치여부, dtype: int64

In [ ]:
# 설치되어있는 동의 18-19년 사고 횟수

dd18_19[dd18_19["설치여부"] == 1].shape[0]

674

In [ ]:
dd18_19[dd18_19["설치여부"] == 1]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,동,설치여부
1,2018010200100161,2018년 1월 2일 11시,화요일,서울특별시 동대문구 제기동,중상사고,0,1,0,0,차대사람 - 횡단중,...,화물,남,55세,상해없음,보행자,여,69세,중상,제기동,1.0
2,2018010300100305,2018년 1월 3일 17시,수요일,서울특별시 동대문구 제기동,중상사고,0,1,0,0,차대사람 - 횡단중,...,승용,남,55세,상해없음,보행자,여,69세,중상,제기동,1.0
3,2018010300100306,2018년 1월 3일 17시,수요일,서울특별시 동대문구 전농동,중상사고,0,1,0,0,차대사람 - 횡단중,...,승용,여,35세,상해없음,보행자,여,77세,중상,전농동,1.0
5,2018010600100127,2018년 1월 6일 09시,토요일,서울특별시 동대문구 청량리동,경상사고,0,0,1,0,차대사람 - 횡단중,...,승용,남,56세,상해없음,보행자,여,70세,경상,청량리동,1.0
6,2018010600100201,2018년 1월 6일 12시,토요일,서울특별시 동대문구 제기동,중상사고,0,1,0,0,차대사람 - 기타,...,승용,남,83세,상해없음,보행자,여,83세,중상,제기동,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,2019122700100384,2019년 12월 27일 16시,금요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,승합,남,42세,상해없음,보행자,남,51세,경상,장안동,1.0
912,2019122900100131,2019년 12월 29일 10시,일요일,서울특별시 동대문구 장안동,중상사고,0,1,0,0,차대사람 - 횡단중,...,승용,여,27세,상해없음,보행자,여,80세,중상,장안동,1.0
913,2019122900100194,2019년 12월 29일 14시,일요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,58세,상해없음,보행자,여,70세,경상,장안동,1.0
914,2019122900100451,2019년 12월 29일 23시,일요일,서울특별시 동대문구 휘경동,사망사고,1,0,0,0,차대사람 - 횡단중,...,승용,남,63세,상해없음,보행자,여,66세,사망,휘경동,1.0
915,2019123100100607,2019년 12월 31일 22시,화요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,31세,상해없음,보행자,여,58세,경상,장안동,1.0

In [ ]:
dd20_21["설치여부"] = np.nan

for i in range(len(dd20_21)):
  if dd20_21["동"][i] in dd_tr_list:
    dd20_21["설치여부"][i] = 1
  else:
    dd20_21["설치여부"][i] = 0

print(dd20_21["설치여부"].value_counts())

1.0    456
0.0    186
Name: 설치여부, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
# 설치되어있는 동의 20-21년 사고 횟수

dd20_21[dd20_21["설치여부"] == 1].shape[0]

456

In [ ]:
# 전 후 차이 
print(dd18_19[dd18_19["설치여부"] == 1].shape[0] - dd20_21[dd20_21["설치여부"] == 1].shape[0])

218

#### 2. t-test

In [ ]:
월(dd18_19, "사고일시")
년(dd18_19, "사고일시")
월(dd20_21, "사고일시")
년(dd20_21, "사고일시")

In [ ]:
display(dd18_19.iloc[:,-2:],dd20_21.iloc[:,-2:])

       월      년
0     1월  2018년
1     1월  2018년
2     1월  2018년
3     1월  2018년
4     1월  2018년
..   ...    ...
911  12월  2019년
912  12월  2019년
913  12월  2019년
914  12월  2019년
915  12월  2019년

[916 rows x 2 columns]

       월      년
0     1월  2020년
1     1월  2020년
2     1월  2020년
3     1월  2020년
4     1월  2020년
..   ...    ...
637  12월  2021년
638  12월  2021년
639  12월  2021년
640  12월  2021년
641  12월  2021년

[642 rows x 2 columns]

In [ ]:
list_dd_1819 = np.array(dd18_19.groupby(["년","월"]).count().iloc[:,0])
list_dd_2021 = np.array(dd20_21.groupby(["년","월"]).count().iloc[:,0])

In [ ]:
# 등분산성 검정
stats.levene(list_dd_1819, list_dd_2021)
#p_value 0.191으로 유의수준 5% 이내에서 등분산성이라는 귀무가설을 채택한다.

LeveneResult(statistic=1.7576119402985066, pvalue=0.19146896220503454)

In [ ]:
# 정규성 검정
print(stats.shapiro(list_dd_1819),"\n",stats.shapiro(list_dd_2021))
#18_19 데이터는 p_value 0.862, 20_21 데이터는 p_value 0.734으로 유의수준 5% 이내에서 정규성을 만족한다는 귀무가설을 채택한다.

ShapiroResult(statistic=0.9782670736312866, pvalue=0.8619030714035034)
 ShapiroResult(statistic=0.9727091193199158, pvalue=0.7338786721229553)

In [ ]:
stats.ttest_ind(list_dd_1819,list_dd_2021,alternative='greater')

# H0: 바닥신호등 설치 전과 후의 사고횟수 차이가 없다.
# H1: 바닥신호등 설치 전의 사고횟수가 설치 후의 사고횟수보다 크다.

# p_value 0.000***로 유의수준 5% 이내에서 설치 전과 후가 같다는 귀무가설을 기각하고 설치 전이 후보다 사고 횟수가 많다는 대립가설을 채택한다.

Ttest_indResult(statistic=6.340194250523404, pvalue=4.46666385024831e-08)

#### 3. 바닥신호등 설치 동 전 후 사고 감소량 계산

In [ ]:
# 바닥신호등 설치된 동만 추출

dd18_19_ins = dd18_19[dd18_19["설치여부"] == 1]
dd20_21_ins = dd20_21[dd20_21["설치여부"] == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_dd = dd18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_dd = dd20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
dd_acc = pd.concat([pd.DataFrame(bef_acc_dd,columns = ["before"]),pd.DataFrame(aft_acc_dd,columns = ["after"])],axis = 1)
dd_acc

      before  after
동
장안동      214    143
제기동      122     97
전농동       96     65
답십리동      94     64
휘경동       85     50
청량리동      63     37

In [ ]:
# 감소율 변수 생성
dd_acc["decrease_rate"] = 1 - (dd_acc["after"] / dd_acc["before"] )
dd_acc

      before  after  decrease_rate
동
장안동      214    143       0.331776
제기동      122     97       0.204918
전농동       96     65       0.322917
답십리동      94     64       0.319149
휘경동       85     50       0.411765
청량리동      63     37       0.412698

In [ ]:
a = pd.concat([pd.DataFrame(dd18_19[dd18_19["설치여부"] == 0].value_counts("동"),columns = ["before"]),pd.DataFrame(dd20_21[dd20_21["설치여부"] == 0].value_counts("동"),columns = ["after"])],axis = 1)
1 - (a["after"] / a["before"] )

동
용두동    0.093750
이문동    0.338028
신설동    0.285714
회기동    0.333333
dtype: float64

In [ ]:
a

     before  after
동
용두동      96     87
이문동      71     47
신설동      42     30
회기동      33     22

## 2. 사고감소율 데이터 생성

### 강동구

In [ ]:
gd18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/강동구_18~19.csv", encoding = "euc-kr")
gd20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/강동구_20~21.csv", encoding = "euc-kr")
gd_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/강동구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(gd18_19, "시군구")
동(gd20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

gd_list = list(gd_tr.법정동.unique())
gd_list

['고덕동', '명일동']

In [ ]:
gd18_19["설치여부"] = np.nan
for i in range(gd18_19.shape[0]):
  if gd18_19["동"][i] in gd_list:
    gd18_19["설치여부"][i] = 1
  else:
    gd18_19["설치여부"][i] = 0

gd20_21["설치여부"] = np.nan
for i in range(gd20_21.shape[0]):
  if gd20_21["동"][i] in gd_list:
    gd20_21["설치여부"][i] = 1
  else:
    gd20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
gd18_19_ins = gd18_19[gd18_19.설치여부 == 1]
gd20_21_ins = gd20_21[gd20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_gd = gd18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_gd = gd20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
gd_acc = pd.concat([pd.DataFrame(bef_acc_gd,columns = ["before"]),pd.DataFrame(aft_acc_gd,columns = ["after"])],axis = 1)
gd_acc

     before  after
동
명일동      64     38
고덕동      26     21

In [ ]:
# 감소율 변수 생성
gd_acc["decrease_rate"] = 1 - (gd_acc["after"] / gd_acc["before"] )
gd_acc

     before  after  decrease_rate
동
명일동      64     38       0.406250
고덕동      26     21       0.192308

### 서초구

In [ ]:
sc18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/서초구_18~19.csv", encoding = "euc-kr")
sc20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/서초구_20~21.csv", encoding = "euc-kr")
sc_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/서초구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(sc18_19, "시군구")
동(sc20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

sc_list = list(sc_tr.법정동.unique())
sc_list

['서초동', '잠원동', '우면동', '내곡동', '양재동', '방배동', '반포동']

In [ ]:
sc18_19["설치여부"] = np.nan
for i in range(sc18_19.shape[0]):
  if sc18_19["동"][i] in sc_list:
    sc18_19["설치여부"][i] = 1
  else:
    sc18_19["설치여부"][i] = 0

sc20_21["설치여부"] = np.nan
for i in range(sc20_21.shape[0]):
  if sc20_21["동"][i] in sc_list:
    sc20_21["설치여부"][i] = 1
  else:
    sc20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
sc18_19_ins = sc18_19[sc18_19.설치여부 == 1]
sc20_21_ins = sc20_21[sc20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_sc = sc18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_sc = sc20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
sc_acc = pd.concat([pd.DataFrame(bef_acc_sc,columns = ["before"]),pd.DataFrame(aft_acc_sc,columns = ["after"])],axis = 1)
sc_acc

     before  after
동
서초동     386    313
방배동     211    163
반포동     146    128
양재동     104     82
잠원동      98     58
우면동      24     10
내곡동      11      5

In [ ]:
# 감소율 변수 생성
sc_acc["decrease_rate"] = 1 - (sc_acc["after"] / sc_acc["before"] )
sc_acc

     before  after  decrease_rate
동
서초동     386    313       0.189119
방배동     211    163       0.227488
반포동     146    128       0.123288
양재동     104     82       0.211538
잠원동      98     58       0.408163
우면동      24     10       0.583333
내곡동      11      5       0.545455

### 성동구

In [ ]:
sd18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/성동구_18~19.csv", encoding = "euc-kr")
sd20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/성동구_20~21.csv", encoding = "euc-kr")
sd_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/성동구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(sd18_19, "시군구")
동(sd20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

sd_list = list(sd_tr.법정동.unique())
sd_list

['행당동',
 '성수동1가',
 '옥수동',
 '마장동',
 '응봉동',
 '금호동2가',
 '금호동1가',
 '금호동4가',
 '홍익동',
 '상왕십리동',
 '하왕십리동',
 '성수동2가']

In [ ]:
sd18_19["설치여부"] = np.nan
for i in range(sd18_19.shape[0]):
  if sd18_19["동"][i] in sd_list:
    sd18_19["설치여부"][i] = 1
  else:
    sd18_19["설치여부"][i] = 0

sd20_21["설치여부"] = np.nan
for i in range(sd20_21.shape[0]):
  if sd20_21["동"][i] in sd_list:
    sd20_21["설치여부"][i] = 1
  else:
    sd20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
sd18_19_ins = sd18_19[sd18_19.설치여부 == 1]
sd20_21_ins = sd20_21[sd20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_sd = sd18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_sd = sd20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
sd_acc = pd.concat([pd.DataFrame(bef_acc_sd,columns = ["before"]),pd.DataFrame(aft_acc_sd,columns = ["after"])],axis = 1)
sd_acc

       before  after
동
금호동1가      11     11
금호동2가       8      7
금호동4가      17     17
마장동        45     46
상왕십리동       8      6
성수동1가      56     76
성수동2가      91    114
옥수동        25     22
응봉동        15     15
하왕십리동      31     22
행당동        78     56
홍익동        18      9

In [ ]:
# 감소율 변수 생성
sd_acc["decrease_rate"] = 1 - (sd_acc["after"] / sd_acc["before"] )
sd_acc

       before  after  decrease_rate
동
금호동1가      11     11       0.000000
금호동2가       8      7       0.125000
금호동4가      17     17       0.000000
마장동        45     46      -0.022222
상왕십리동       8      6       0.250000
성수동1가      56     76      -0.357143
성수동2가      91    114      -0.252747
옥수동        25     22       0.120000
응봉동        15     15       0.000000
하왕십리동      31     22       0.290323
행당동        78     56       0.282051
홍익동        18      9       0.500000

### 양천구

In [ ]:
yc18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/양천구_18~19.csv", encoding = "euc-kr")
yc20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/양천구_20~21.csv", encoding = "euc-kr")
yc_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/양천구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(yc18_19, "시군구")
동(yc20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

yc_list = list(yc_tr.법정동.unique())
yc_list

['목동', '신월동', '신정동']

In [ ]:
yc18_19["설치여부"] = np.nan
for i in range(yc18_19.shape[0]):
  if yc18_19["동"][i] in yc_list:
    yc18_19["설치여부"][i] = 1
  else:
    yc18_19["설치여부"][i] = 0

yc20_21["설치여부"] = np.nan
for i in range(yc20_21.shape[0]):
  if yc20_21["동"][i] in yc_list:
    yc20_21["설치여부"][i] = 1
  else:
    yc20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
yc18_19_ins = yc18_19[yc18_19.설치여부 == 1]
yc20_21_ins = yc20_21[yc20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_yc = yc18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_yc = yc20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
yc_acc = pd.concat([pd.DataFrame(bef_acc_yc,columns = ["before"]),pd.DataFrame(aft_acc_yc,columns = ["after"])],axis = 1)
yc_acc

     before  after
동
목동      268    185
신월동     215    189
신정동     256    191

In [ ]:
# 감소율 변수 생성
yc_acc["decrease_rate"] = 1 - (yc_acc["after"] / yc_acc["before"] )
yc_acc

     before  after  decrease_rate
동
목동      268    185       0.309701
신월동     215    189       0.120930
신정동     256    191       0.253906

### 영등포구

In [ ]:
ydp18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/영등포구_18~19.csv", encoding = "euc-kr")
ydp20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/영등포구_20~21.csv", encoding = "euc-kr")
ydp_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/영등포구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(ydp18_19, "시군구")
동(ydp20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

ydp_list = list(ydp_tr.법정동.unique())
ydp_list

['여의도동',
 '신길동',
 '대림동',
 '문래동1가',
 '문래동3가',
 '문래동6가',
 '양평동3가',
 '당산동5가',
 '양평동4가',
 '당산동',
 '영등포동7가']

In [ ]:
ydp18_19["설치여부"] = np.nan
for i in range(ydp18_19.shape[0]):
  if ydp18_19["동"][i] in ydp_list:
    ydp18_19["설치여부"][i] = 1
  else:
    ydp18_19["설치여부"][i] = 0

ydp20_21["설치여부"] = np.nan
for i in range(ydp20_21.shape[0]):
  if ydp20_21["동"][i] in ydp_list:
    ydp20_21["설치여부"][i] = 1
  else:
    ydp20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
ydp18_19_ins = ydp18_19[ydp18_19.설치여부 == 1]
ydp20_21_ins = ydp20_21[ydp20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_ydp = ydp18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_ydp = ydp20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
ydp_acc = pd.concat([pd.DataFrame(bef_acc_ydp,columns = ["before"]),pd.DataFrame(aft_acc_ydp,columns = ["after"])],axis = 1)
ydp_acc

        before  after
동
당산동         10      9
당산동5가       15     13
대림동        170    107
문래동1가       12      3
문래동3가       45     24
문래동6가       17     16
신길동        198    125
양평동3가       23      9
양평동4가       31     16
여의도동       164     89
영등포동7가      23     13

In [ ]:
# 감소율 변수 생성
ydp_acc["decrease_rate"] = 1 - (ydp_acc["after"] / ydp_acc["before"] )
ydp_acc

        before  after  decrease_rate
동
당산동         10      9       0.100000
당산동5가       15     13       0.133333
대림동        170    107       0.370588
문래동1가       12      3       0.750000
문래동3가       45     24       0.466667
문래동6가       17     16       0.058824
신길동        198    125       0.368687
양평동3가       23      9       0.608696
양평동4가       31     16       0.483871
여의도동       164     89       0.457317
영등포동7가      23     13       0.434783

### 은평구

In [ ]:
ep18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/은평구_18~19.csv", encoding = "euc-kr")
ep20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/은평구_20~21.csv", encoding = "euc-kr")
ep_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/은평구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(ep18_19, "시군구")
동(ep20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

ep_list = list(ep_tr.법정동.unique())
ep_list

['녹번동', '불광동', '대조동', '역촌동', '응암동']

In [ ]:
ep18_19["설치여부"] = np.nan
for i in range(ep18_19.shape[0]):
  if ep18_19["동"][i] in ep_list:
    ep18_19["설치여부"][i] = 1
  else:
    ep18_19["설치여부"][i] = 0

ep20_21["설치여부"] = np.nan
for i in range(ep20_21.shape[0]):
  if ep20_21["동"][i] in ep_list:
    ep20_21["설치여부"][i] = 1
  else:
    ep20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
ep18_19_ins = ep18_19[ep18_19.설치여부 == 1]
ep20_21_ins = ep20_21[ep20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_ep = ep18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_ep = ep20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
ep_acc = pd.concat([pd.DataFrame(bef_acc_ep,columns = ["before"]),pd.DataFrame(aft_acc_ep,columns = ["after"])],axis = 1)
ep_acc

     before  after
동
녹번동      37     44
대조동      91     40
불광동     116     56
역촌동      61     61
응암동     111     84

In [ ]:
# 감소율 변수 생성
ep_acc["decrease_rate"] = 1 - (ep_acc["after"] / ep_acc["before"] )
ep_acc

     before  after  decrease_rate
동
녹번동      37     44      -0.189189
대조동      91     40       0.560440
불광동     116     56       0.517241
역촌동      61     61       0.000000
응암동     111     84       0.243243

### 중랑구

In [ ]:
jl18_19 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/중랑구_18~19.csv", encoding = "euc-kr")
jl20_21 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/중랑구_20~21.csv", encoding = "euc-kr")
jl_tr = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/나머지구/중랑구바닥신호등.csv", encoding = "euc-kr")

In [ ]:
동(jl18_19, "시군구")
동(jl20_21, "시군구")

In [ ]:
# 설치 지역 리스트 추출

jl_list = list(jl_tr.법정동.unique())
jl_list

['신내동', '상봉동', '망우동', '면목동', '중화동', '묵동']

In [ ]:
jl18_19["설치여부"] = np.nan
for i in range(jl18_19.shape[0]):
  if jl18_19["동"][i] in jl_list:
    jl18_19["설치여부"][i] = 1
  else:
    jl18_19["설치여부"][i] = 0

jl20_21["설치여부"] = np.nan
for i in range(jl20_21.shape[0]):
  if jl20_21["동"][i] in jl_list:
    jl20_21["설치여부"][i] = 1
  else:
    jl20_21["설치여부"][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
jl18_19_ins = jl18_19[jl18_19.설치여부 == 1]
jl20_21_ins = jl20_21[jl20_21.설치여부 == 1]

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 추출

bef_acc_jl = jl18_19_ins.value_counts("동") # 설치 전 사고데이터
aft_acc_jl = jl20_21_ins.value_counts("동") # 설치 후 사고데이터

In [ ]:
# 동 별 바닥신호등 설치 전후 사고건수 결합 
jl_acc = pd.concat([pd.DataFrame(bef_acc_jl,columns = ["before"]),pd.DataFrame(aft_acc_jl,columns = ["after"])],axis = 1)
jl_acc

     before  after
동
망우동     160    108
면목동     322    271
묵동      111     76
상봉동     128     97
신내동      75     56
중화동     106     82

In [ ]:
# 감소율 변수 생성
jl_acc["decrease_rate"] = 1 - (jl_acc["after"] / jl_acc["before"] )
jl_acc

     before  after  decrease_rate
동
망우동     160    108       0.325000
면목동     322    271       0.158385
묵동      111     76       0.315315
상봉동     128     97       0.242188
신내동      75     56       0.253333
중화동     106     82       0.226415

### 사고 감소율 결합

In [ ]:
# 강동 서초 성동 양천 영등포 은평 중랑

gn_acc2 = gn_acc.reset_index()
gn_acc2["구"] = "강남구"

gj_acc2 = gj_acc.reset_index()
gj_acc2["구"] = "광진구"

dd_acc2 = dd_acc.reset_index()
dd_acc2["구"] = "동대문구"

gd_acc2 = gd_acc.reset_index()
gd_acc2["구"] = "강동구"

sc_acc2 = sc_acc.reset_index()
sc_acc2["구"] = "서초구"

sd_acc2 = sd_acc.reset_index()
sd_acc2["구"] = "성동구"

yc_acc2 = yc_acc.reset_index()
yc_acc2["구"] = "양천구"

ydp_acc2 = ydp_acc.reset_index()
ydp_acc2["구"] = "영등포구"

ep_acc2 = ep_acc.reset_index()
ep_acc2["구"] = "은평구"

jl_acc2 = jl_acc.reset_index()
jl_acc2["구"] = "중랑구"

# display(gn_acc2, gj_acc2, dd_acc2)

In [ ]:
# 감소율 결합데이터
decrease_rate = pd.concat([gn_acc2, gj_acc2, dd_acc2, gd_acc2, sc_acc2, sd_acc2, yc_acc2, ydp_acc2, ep_acc2, jl_acc2]).iloc[:,[4,0,1,2,3]]
decrease_rate = decrease_rate.set_index(np.arange(decrease_rate.shape[0])) # 인덱스 재설정
decrease_rate.sort_values("decrease_rate", ascending = False)

       구      동  before  after  decrease_rate
51  영등포구  문래동1가      12      3       0.750000
8    강남구    율현동       6      2       0.666667
55  영등포구  양평동3가      23      9       0.608696
31   서초구    우면동      24     10       0.583333
60   은평구    대조동      91     40       0.560440
..   ...    ...     ...    ...            ...
6    강남구    신사동     147    157      -0.068027
11   강남구    청담동      99    110      -0.111111
59   은평구    녹번동      37     44      -0.189189
39   성동구  성수동2가      91    114      -0.252747
38   성동구  성수동1가      56     76      -0.357143

[70 rows x 5 columns]

In [ ]:
decrease_rate = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/사고데이터 및 바닥신호등 폴더/설치법정동사고감소율그룹.csv")

In [ ]:
decrease_rate.sort_values("before", ascending = False)

       구      동  before  after  decrease_rate group
7    강남구    역삼동     426    361       0.152582     C
26   서초구    서초동     386    313       0.189119     C
65   중랑구    면목동     322    271       0.158385     C
1    강남구    논현동     273    210       0.230769     B
45   양천구     목동     268    185       0.309701     B
..   ...    ...     ...    ...            ...   ...
33   성동구  금호동1가      11     11       0.000000     C
48  영등포구    당산동      10      9       0.100000     C
34   성동구  금호동2가       8      7       0.125000     B
37   성동구  상왕십리동       8      6       0.250000     B
8    강남구    율현동       6      2       0.666667     B

[70 rows x 6 columns]

In [ ]:
print("평균 : ", round(decrease_rate.before.mean(),3), "중앙값 : ", round(decrease_rate.before.median(),3), "표준편차 : ", round(decrease_rate.before.std(),3))

평균 :  98.471 중앙값 :  81.5 표준편차 :  91.742

In [ ]:
decrease_rate.decrease_rate.quantile(0.8)

0.4119514472455649

In [ ]:
decrease_rate["before"].median()

81.5

In [ ]:
# 그룹 별 경계값(mu: before 중앙값보다 큰 데이터, ml: before 중앙값보다 작은 데이터)
mu_gr_a = decrease_rate[decrease_rate.before >= decrease_rate.before.median()].decrease_rate.quantile(0.8)
mu_gr_b = decrease_rate[decrease_rate.before >= decrease_rate.before.median()].decrease_rate.quantile(0.3) #중앙값 넘는애들30-80 -> B
ml_gr_b = decrease_rate[decrease_rate.before < decrease_rate.before.median()].decrease_rate.quantile(0.8)  #안넘는애들 30-100 -> B

In [ ]:
decrease_rate["group"] = np.nan

for i in range(decrease_rate.shape[0]):
 if (decrease_rate["decrease_rate"][i] >= mu_gr_a) & (decrease_rate["before"][i] >= decrease_rate["before"].median()) :
   decrease_rate["group"][i] = "A"
 elif (decrease_rate["decrease_rate"][i] >= mu_gr_b) & (decrease_rate["before"][i] >= decrease_rate["before"].median()) :
   decrease_rate["group"][i] = "B"
 elif (decrease_rate["decrease_rate"][i] >= ml_gr_b) & (decrease_rate["before"][i] < decrease_rate["before"].median()):
   decrease_rate["group"][i] = "B"
 else:
   decrease_rate["group"][i] = "C"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
print(mu_gr_a, mu_gr_b, ml_gr_b)

0.35310245310245314 0.19608564737370351 0.47010752688172047

In [ ]:
decrease_rate.value_counts("group")

group
C    39
B    24
A     7
dtype: int64

In [ ]:
decrease_rate.sort_values("group")

       구      동  before  after  decrease_rate group
22  동대문구    휘경동      85     50       0.411765     A
57  영등포구   여의도동     164     89       0.457317     A
50  영등포구    대림동     170    107       0.370588     A
54  영등포구    신길동     198    125       0.368687     A
30   서초구    잠원동      98     58       0.408163     A
..   ...    ...     ...    ...            ...   ...
37   성동구  상왕십리동       8      6       0.250000     C
38   성동구  성수동1가      56     76      -0.357143     C
39   성동구  성수동2가      91    114      -0.252747     C
23  동대문구   청량리동      63     37       0.412698     C
34   성동구  금호동2가       8      7       0.125000     C

[70 rows x 6 columns]

In [ ]:
decrease_rate[decrease_rate.group=="A"]

       구     동  before  after  decrease_rate group
22  동대문구   휘경동      85     50       0.411765     A
30   서초구   잠원동      98     58       0.408163     A
50  영등포구   대림동     170    107       0.370588     A
54  영등포구   신길동     198    125       0.368687     A
57  영등포구  여의도동     164     89       0.457317     A
60   은평구   대조동      91     40       0.560440     A
61   은평구   불광동     116     56       0.517241     A

In [ ]:
#decrease_rate.to_csv("설치법정동사고감소율그룹2.csv",index = False)