<a href="https://colab.research.google.com/github/chanseongparkk/2022_Data_Analysis_Intern_project/blob/main/%EC%B5%9C%EC%A0%81%EC%9E%85%EC%A7%80_1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  데이터 전처리

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1. 2019 데이터 전처리(train data)

### 함수 생성 및 라이브러리 로드

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
# 동 feature 만들기
def 동(df, feature):
 동 = []
 for i in range(len(df)):
   동_list = df[feature].str.split()[i][2]
   동.append(동_list)
 df["동"] = 동

# 구 feature 만들기
def 구(df, feature):
 구 = []
 for i in range(len(df)):
   구_list = df[feature].str.split()[i][1]
   구.append(구_list)
 df["구"] = 구

 # 시 feature 만들기
def 시(df, feature):
 시 = []
 for i in range(len(df)):
   시_list = df[feature].str.split()[i][0]
   시.append(시_list)
 df["시"] = 시

 # 월 feature 만들기
def 월(df, feature):
 월 = []
 for i in range(len(df)):
   월_list = df[feature].str.split()[i][1]
   월.append(월_list)
 df["월"] = 월

# 년 feature 만들기
def 년(df, feature):
 년 = []
 for i in range(len(df)):
   년_list = df[feature].str.split()[i][0]
   년.append(년_list)
 df["년"] = 년

In [ ]:
# 행정동 법정동 코드

code_map = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/code_map.csv")
code_map

       구    행정동  법정동     행정동코드     법정동코드  법정동갯수
0    종로구  청운효자동  청운동  11110515  11110101     10
1    종로구  청운효자동  신교동  11110515  11110102     10
2    종로구  청운효자동  궁정동  11110515  11110103     10
3    종로구  청운효자동  효자동  11110515  11110104     10
4    종로구  청운효자동  창성동  11110515  11110105     10
..   ...    ...  ...       ...       ...    ...
736  강동구   성내2동  성내동  11740650  11740108      1
737  강동구   성내3동  성내동  11740660  11740108      1
738  강동구     길동   길동  11740685  11740105      1
739  강동구   둔촌1동  둔촌동  11740690  11740106      1
740  강동구   둔촌2동  둔촌동  11740700  11740106      1

[741 rows x 6 columns]

### 동별 횡단보도 합계 처리

In [ ]:
dong_cw = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/동별 횡단보도 합계.csv", encoding = "euc-kr")
dong_cw
# code열을 보니 행정지역으로 되어있는 것을 알 수 있다.

        code  name  count
0    1125074    길동    159
1    1125073  천호2동    117
2    1125072  암사1동     46
3    1125071  둔촌2동    108
4    1125070  둔촌1동     38
..       ...   ...    ...
419  1101057   무악동     11
420  1101056   평창동     70
421  1101055   부암동     39
422  1101054   삼청동     46
423  1101053   사직동    134

[424 rows x 3 columns]

In [ ]:
행정구역코드 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/행정구역코드.csv",encoding = "euc-kr").iloc[:,:8]
행정구역코드 = 행정구역코드.dropna()
행정구역코드 = 행정구역코드[행정구역코드.시도=="서울특별시"]
행정구역코드

        시도  시군구 행정구역명    행정동  법정동     행정구역분류        행정기관코드        법정기관코드
2    서울특별시  종로구   사직동    사직동  통의동  1101053.0  1.111053e+09  1.111011e+09
3    서울특별시  종로구   사직동    사직동  적선동  1101053.0  1.111053e+09  1.111011e+09
4    서울특별시  종로구   사직동    사직동  체부동  1101053.0  1.111053e+09  1.111011e+09
5    서울특별시  종로구   사직동    사직동  필운동  1101053.0  1.111053e+09  1.111011e+09
6    서울특별시  종로구   사직동    사직동  내자동  1101053.0  1.111053e+09  1.111011e+09
..     ...  ...   ...    ...  ...        ...           ...           ...
752  서울특별시  강동구  둔촌1동  둔촌제1동  둔촌동  1125070.0  1.174069e+09  1.174011e+09
753  서울특별시  강동구  둔촌2동  둔촌제2동  둔촌동  1125071.0  1.174070e+09  1.174011e+09
754  서울특별시  강동구  암사1동  암사제1동  암사동  1125072.0  1.174057e+09  1.174011e+09
755  서울특별시  강동구  천호2동  천호제2동  천호동  1125073.0  1.174061e+09  1.174011e+09
756  서울특별시  강동구    길동     길동   길동  1125074.0  1.174068e+09  1.174010e+09

[731 rows x 8 columns]

In [ ]:
행정구역코드

        시도  시군구 행정구역명    행정동  법정동     행정구역분류        행정기관코드        법정기관코드
2    서울특별시  종로구   사직동    사직동  통의동  1101053.0  1.111053e+09  1.111011e+09
3    서울특별시  종로구   사직동    사직동  적선동  1101053.0  1.111053e+09  1.111011e+09
4    서울특별시  종로구   사직동    사직동  체부동  1101053.0  1.111053e+09  1.111011e+09
5    서울특별시  종로구   사직동    사직동  필운동  1101053.0  1.111053e+09  1.111011e+09
6    서울특별시  종로구   사직동    사직동  내자동  1101053.0  1.111053e+09  1.111011e+09
..     ...  ...   ...    ...  ...        ...           ...           ...
752  서울특별시  강동구  둔촌1동  둔촌제1동  둔촌동  1125070.0  1.174069e+09  1.174011e+09
753  서울특별시  강동구  둔촌2동  둔촌제2동  둔촌동  1125071.0  1.174070e+09  1.174011e+09
754  서울특별시  강동구  암사1동  암사제1동  암사동  1125072.0  1.174057e+09  1.174011e+09
755  서울특별시  강동구  천호2동  천호제2동  천호동  1125073.0  1.174061e+09  1.174011e+09
756  서울특별시  강동구    길동     길동   길동  1125074.0  1.174068e+09  1.174010e+09

[731 rows x 8 columns]

In [ ]:
#행정구역을 기준으로 법정동 코드와 조인해준다 
new_dong_cw = pd.merge(dong_cw, 행정구역코드.iloc[:,[5,6]], how = "left", left_on = "code", right_on = "행정구역분류")
new_dong_cw["행정기관코드"] =  new_dong_cw["행정기관코드"]/100
new_dong_cw

        code  name  count     행정구역분류      행정기관코드
0    1125074    길동    159  1125074.0  11740685.0
1    1125073  천호2동    117  1125073.0  11740610.0
2    1125072  암사1동     46  1125072.0  11740570.0
3    1125071  둔촌2동    108  1125071.0  11740700.0
4    1125070  둔촌1동     38  1125070.0  11740690.0
..       ...   ...    ...        ...         ...
726  1101053   사직동    134  1101053.0  11110530.0
727  1101053   사직동    134  1101053.0  11110530.0
728  1101053   사직동    134  1101053.0  11110530.0
729  1101053   사직동    134  1101053.0  11110530.0
730  1101053   사직동    134  1101053.0  11110530.0

[731 rows x 5 columns]

In [ ]:
set(new_dong_cw.행정기관코드)- set(code_map.행정동코드)

{11110660.0,
 11140610.0,
 11140620.0,
 11140630.0,
 11140640.0,
 11140660.0,
 11305590.0,
 11305600.0,
 11305606.0,
 11305610.0,
 11305620.0,
 11305630.0,
 11350605.0,
 11740520.0}

In [ ]:
new_dong_cw2 = pd.merge(new_dong_cw, code_map.iloc[:,[1,2,3,5]], how = "left", left_on = "행정기관코드", right_on = "행정동코드")
new_dong_cw2

,code,name,count,행정구역분류,행정기관코드,행정동,법정동,행정동코드,법정동갯수
0,1125074,길동,159,1125074.0,11740685.0,길동,길동,11740685.0,1.0
1,1125073,천호2동,117,1125073.0,11740610.0,천호2동,천호동,11740610.0,1.0
2,1125072,암사1동,46,1125072.0,11740570.0,암사1동,암사동,11740570.0,1.0
3,1125071,둔촌2동,108,1125071.0,11740700.0,둔촌2동,둔촌동,11740700.0,1.0
4,1125070,둔촌1동,38,1125070.0,11740690.0,둔촌1동,둔촌동,11740690.0,1.0
...,...,...,...,...,...,...,...,...,...
3637,1101053,사직동,134,1101053.0,11110530.0,사직동,당주동,11110530.0,12.0
3638,1101053,사직동,134,1101053.0,11110530.0,사직동,내수동,11110530.0,12.0
3639,1101053,사직동,134,1101053.0,11110530.0,사직동,세종로,11110530.0,12.0
3640,1101053,사직동,134,1101053.0,11110530.0,사직동,신문로1가,11110530.0,12.0
3641,1101053,사직동,134,1101053.0,11110530.0,사직동,신문로2가,11110530.0,12.0

In [ ]:
행정동갯수 = pd.DataFrame(new_dong_cw2.value_counts("행정동")).reset_index().rename(columns = {0:"행정동갯수"})
행정동갯수

             행정동  행정동갯수
0    종로1.2.3.4가동    812
1             명동    529
2            소공동    144
3            사직동    144
4             필동    121
..           ...    ...
404         불광2동      1
405         불광1동      1
406         북아현동      1
407        북가좌2동      1
408          흑석동      1

[409 rows x 2 columns]

In [ ]:
new_dong_cw3 = pd.merge(new_dong_cw2.iloc[:,[2,5,6]], 행정동갯수, how = "left", left_on = "행정동", right_on = "행정동")
new_dong_cw3

      count   행정동    법정동  행정동갯수
0       159    길동     길동    1.0
1       117  천호2동    천호동    1.0
2        46  암사1동    암사동    1.0
3       108  둔촌2동    둔촌동    1.0
4        38  둔촌1동    둔촌동    1.0
...     ...   ...    ...    ...
3637    134   사직동    당주동  144.0
3638    134   사직동    내수동  144.0
3639    134   사직동    세종로  144.0
3640    134   사직동  신문로1가  144.0
3641    134   사직동  신문로2가  144.0

[3642 rows x 4 columns]

In [ ]:
new_dong_cw3["보정횡단보도수"] = new_dong_cw3["count"] / new_dong_cw3["행정동갯수"]
new_dong_cw3

      count   행정동    법정동  행정동갯수     보정횡단보도수
0       159    길동     길동    1.0  159.000000
1       117  천호2동    천호동    1.0  117.000000
2        46  암사1동    암사동    1.0   46.000000
3       108  둔촌2동    둔촌동    1.0  108.000000
4        38  둔촌1동    둔촌동    1.0   38.000000
...     ...   ...    ...    ...         ...
3637    134   사직동    당주동  144.0    0.930556
3638    134   사직동    내수동  144.0    0.930556
3639    134   사직동    세종로  144.0    0.930556
3640    134   사직동  신문로1가  144.0    0.930556
3641    134   사직동  신문로2가  144.0    0.930556

[3642 rows x 5 columns]

In [ ]:
법정동횡단보도수 = pd.DataFrame(new_dong_cw3.groupby("법정동")["보정횡단보도수"].sum()).reset_index()
법정동횡단보도수

      법정동     보정횡단보도수
0     가락동  283.000000
1    가리봉동   23.000000
2     가산동  264.000000
3     가양동  333.500000
4     가회동    7.750000
..    ...         ...
455   효창동   44.000000
456   후암동   63.000000
457   훈정동    9.862069
458   휘경동  104.000000
459   흑석동  124.000000

[460 rows x 2 columns]

In [ ]:
for i in range(법정동횡단보도수.shape[0]):
  법정동횡단보도수["보정횡단보도수"][i] = math.ceil(법정동횡단보도수["보정횡단보도수"][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
법정동횡단보도수.sort_values("보정횡단보도수")

     법정동  보정횡단보도수
446   화동      7.0
175  사간동      7.0
417  팔판동      7.0
189  삼청동      7.0
253  안국동      7.0
..   ...      ...
149  미아동    519.0
151  방배동    520.0
31   구로동    592.0
190  상계동    615.0
246  신정동    678.0

[460 rows x 2 columns]

In [ ]:
# 법정동횡단보도수.to_csv("법정동별_횡단보도수.csv",index = False)

### 서울시 생활인구 데이터 전처리

In [ ]:

f1 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f1.csv",index_col = False)
f2 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f2.csv", index_col = False)
f3 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f3.csv", index_col = False)
f4 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f4.csv", index_col = False)
f5 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f5.csv", index_col = False)
f6 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f6.csv", index_col = False)
f7 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f7.csv", index_col = False)
f8 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f8.csv", index_col = False)
f9 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f9.csv", index_col = False)
f10 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f10.csv", index_col = False, encoding = "euc-kr")
f11 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f11.csv", index_col = False)
f12 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/f12.csv", index_col = False)
l1 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l1.csv", index_col = False)
l2 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l2.csv", index_col = False)
l3 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l3.csv", index_col = False)
l4 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l4.csv", index_col = False)
l5 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l5.csv", index_col = False)
l6 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l6.csv", index_col = False)
l7 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l7.csv", index_col = False)
l8 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l8.csv", index_col = False)
l9 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l9.csv", index_col = False)
l10 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l10.csv", index_col = False, encoding = "euc-kr")
l11 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l11.csv", index_col = False)
l12 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/생활인구/l12.csv", index_col = False)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return func(*args, **kwargs)

In [ ]:

생활인구 = pd.concat([l1,l2,l3,l4,l5,l6,l7,l8,l9,l10,l11,l12,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12]) # 데이터 병합
생활인구.index = np.arange(생활인구.shape[0]) # 인덱스 재설정
생활인구 = 생활인구.iloc[:,:4] # 필요한 데이터만 추출
생활인구

            기준일ID  시간대구분     행정동코드      총생활인구수
0        20190101      0  11110515  14943.0531
1        20190101      0  11110530  19105.5265
2        20190101      0  11110540   4383.4182
3        20190101      0  11110550   9592.8533
4        20190101      0  11110560  17902.1947
...           ...    ...       ...         ...
7296106  20191231     23  11110570    135.8449
7296107  20191231     23  11110560    388.8233
7296108  20191231     23  11110550    417.0975
7296109  20191231     23  11110540    138.2190
7296110  20191231     23  11110530    887.2997

[7296111 rows x 4 columns]

In [ ]:

생활인구["주야구분"] = np.nan

for i in range(생활인구.shape[0]):
  if 생활인구.시간대구분[i] in [20,21,22,23,0,1,2,3,4,5,6]:
    생활인구["주야구분"][i] = "야간"
  else:
    생활인구["주야구분"][i] = "주간"

생활인구["주야구분"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0          야간
1          야간
2          야간
3          야간
4          야간
           ..
7296106    야간
7296107    야간
7296108    야간
7296109    야간
7296110    야간
Name: 주야구분, Length: 7296111, dtype: object

In [ ]:
법정동별_생활인구 = pd.merge(생활인구,code_map, how = "left", on = "행정동코드")
법정동별_생활인구

,기준일ID,시간대구분,행정동코드,총생활인구수,주야구분,구,행정동,법정동,법정동코드,법정동갯수
0,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,청운동,11110101.0,10.0
1,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,신교동,11110102.0,10.0
2,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,궁정동,11110103.0,10.0
3,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,효자동,11110104.0,10.0
4,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,창성동,11110105.0,10.0
...,...,...,...,...,...,...,...,...,...,...
12716574,20191231,23,11110530,887.2997,야간,종로구,사직동,당주동,11110117.0,12.0
12716575,20191231,23,11110530,887.2997,야간,종로구,사직동,내수동,11110118.0,12.0
12716576,20191231,23,11110530,887.2997,야간,종로구,사직동,세종로,11110119.0,12.0
12716577,20191231,23,11110530,887.2997,야간,종로구,사직동,신문로1가,11110120.0,12.0
12716578,20191231,23,11110530,887.2997,야간,종로구,사직동,신문로2가,11110121.0,12.0

In [ ]:
법정동별_생활인구["보정생활인구수"] = 법정동별_생활인구["총생활인구수"] / 법정동별_생활인구["법정동갯수"]
법정동별_생활인구

,기준일ID,시간대구분,행정동코드,총생활인구수,주야구분,구,행정동,법정동,법정동코드,법정동갯수,보정생활인구수
0,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,청운동,11110101.0,10.0,1494.305310
1,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,신교동,11110102.0,10.0,1494.305310
2,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,궁정동,11110103.0,10.0,1494.305310
3,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,효자동,11110104.0,10.0,1494.305310
4,20190101,0,11110515,14943.0531,야간,종로구,청운효자동,창성동,11110105.0,10.0,1494.305310
...,...,...,...,...,...,...,...,...,...,...,...
12716574,20191231,23,11110530,887.2997,야간,종로구,사직동,당주동,11110117.0,12.0,73.941642
12716575,20191231,23,11110530,887.2997,야간,종로구,사직동,내수동,11110118.0,12.0,73.941642
12716576,20191231,23,11110530,887.2997,야간,종로구,사직동,세종로,11110119.0,12.0,73.941642
12716577,20191231,23,11110530,887.2997,야간,종로구,사직동,신문로1가,11110120.0,12.0,73.941642
12716578,20191231,23,11110530,887.2997,야간,종로구,사직동,신문로2가,11110121.0,12.0,73.941642

In [ ]:
a = pd.DataFrame(생활인구.groupby(["행정동코드","주야구분"])["총생활인구수"].sum()/365).reset_index()
a

        행정동코드 주야구분         총생활인구수
0    11110515   야간  158242.834617
1    11110515   주간  233962.416881
2    11110530   야간  199755.394919
3    11110530   주간  487508.319332
4    11110540   야간   56568.720232
..        ...  ...            ...
843  11740685   주간  617764.740592
844  11740690   야간   81622.542286
845  11740690   주간   89861.199718
846  11740700   야간  335854.960919
847  11740700   주간  369455.430649

[848 rows x 3 columns]

In [ ]:
b = pd.DataFrame(법정동별_생활인구.groupby(["법정동","주야구분"])["보정생활인구수"].sum()/365).reset_index()
b

      법정동 주야구분       보정생활인구수
0     가락동   야간  1.005555e+06
1     가락동   주간  1.166300e+06
2    가리봉동   야간  1.261616e+05
3    가리봉동   주간  1.501268e+05
4     가산동   야간  4.159999e+05
..    ...  ...           ...
919   휘경동   주간  4.985842e+05
920   흑석동   야간  4.349785e+05
921   흑석동   주간  5.192793e+05
922   흥인동   야간  1.053543e+05
923   흥인동   주간  1.250106e+05

[924 rows x 3 columns]

In [ ]:
# b.to_csv("법정동별_주야별_생활인구.csv", index = False)

### 주민등록인구 전처리

In [ ]:
code = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/code_map.csv")
a = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/주민등록인구(2019).csv")
a = a[a.동 != "소계"]
a["주민등록수"] = a["한국인"] + a["등록외국인"]
a = a.iloc[:,[0,3]]
a

        동  주민등록수
0     사직동   9815
1     삼청동   2997
2     부암동  10551
3     평창동  18816
4     무악동   8740
..    ...    ...
443  성내3동  23921
444  둔촌1동    283
445  둔촌2동  27752
446    길동  46367
447   강일동  32127

[424 rows x 2 columns]

In [ ]:
a = pd.merge(a, code,how="left",left_on="동",right_on = "행정동").iloc[:,[0,1,4,7]]
a["보정주민등록수"] = a["주민등록수"] / a["법정동갯수"]
a

        동  주민등록수  법정동  법정동갯수       보정주민등록수
0     사직동   9815  통의동   12.0    817.916667
1     사직동   9815  적선동   12.0    817.916667
2     사직동   9815  체부동   12.0    817.916667
3     사직동   9815  필운동   12.0    817.916667
4     사직동   9815  내자동   12.0    817.916667
..    ...    ...  ...    ...           ...
737  성내3동  23921  성내동    1.0  23921.000000
738  둔촌1동    283  둔촌동    1.0    283.000000
739  둔촌2동  27752  둔촌동    1.0  27752.000000
740    길동  46367   길동    1.0  46367.000000
741   강일동  32127  강일동    1.0  32127.000000

[742 rows x 5 columns]

In [ ]:
a = a.groupby("법정동")["보정주민등록수"].sum().reset_index()
df = a.rename(columns = {"보정주민등록수":"주민등록수"})
df["주민등록수"] = round(df["주민등록수"],0).astype(int)
df

      법정동  주민등록수
0     가락동  89512
1    가리봉동  15250
2     가산동  24455
3     가양동  69706
4     가회동   1122
..    ...    ...
458   후암동  18445
459   훈정동    291
460   휘경동  41576
461   흑석동  35551
462   흥인동   3078

[463 rows x 2 columns]

In [ ]:
#df.to_csv("법정동별_주민등록수.csv", index = False)

### 자동차보유대수 전처리

In [ ]:
car = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/2019서울시자동차등록현황.csv")
car = car.iloc[:,[0,1]]
car = car.set_index(np.arange(car.shape[0]))
car = car.iloc[:-1,:]
car

         사용본거지법정동명  동별 총 대수
0    서울특별시 종로구 청운동      764
1    서울특별시 종로구 신교동      360
2    서울특별시 종로구 궁정동       48
3    서울특별시 종로구 효자동      208
4    서울특별시 종로구 창성동      138
..             ...      ...
466  서울특별시 강동구 둔촌동     9542
467  서울특별시 강동구 암사동    21641
468  서울특별시 강동구 성내동    22477
469  서울특별시 강동구 천호동    27077
470  서울특별시 강동구 강일동     8032

[471 rows x 2 columns]

In [ ]:
동(car, "사용본거지법정동명")
car

         사용본거지법정동명  동별 총 대수    동
0    서울특별시 종로구 청운동      764  청운동
1    서울특별시 종로구 신교동      360  신교동
2    서울특별시 종로구 궁정동       48  궁정동
3    서울특별시 종로구 효자동      208  효자동
4    서울특별시 종로구 창성동      138  창성동
..             ...      ...  ...
466  서울특별시 강동구 둔촌동     9542  둔촌동
467  서울특별시 강동구 암사동    21641  암사동
468  서울특별시 강동구 성내동    22477  성내동
469  서울특별시 강동구 천호동    27077  천호동
470  서울특별시 강동구 강일동     8032  강일동

[471 rows x 3 columns]

In [ ]:
car = car.iloc[:,[2,1]].rename(columns = {"동별 총 대수":"자동차수"})
car

       동   자동차수
0    청운동    764
1    신교동    360
2    궁정동     48
3    효자동    208
4    창성동    138
..   ...    ...
466  둔촌동   9542
467  암사동  21641
468  성내동  22477
469  천호동  27077
470  강일동   8032

[471 rows x 2 columns]

In [ ]:
# car.to_csv("2019법정동자동차수.csv",index = False)

### 법정동 면적 전처리

In [ ]:
# pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/법정동_면적.csv", encoding = "euc-kr").iloc[:,[0,1,5]].to_csv("법정동_면적.csv", index = False)

### 서울시 차대사람 사고데이터 전처리

In [ ]:
acc = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/2019년도 교통사고 데이터.csv")
acc

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2019010100100001,2019년 1월 1일 00시,화요일,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,2019010100100020,2019년 1월 1일 01시,화요일,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상
2,2019010100100042,2019년 1월 1일 02시,화요일,서울특별시 강남구 논현동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,여,30세,상해없음,보행자,남,47세,경상
3,2019010100100045,2019년 1월 1일 02시,화요일,서울특별시 서초구 방배동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,맑음,단일로 - 기타,기타불명,기타불명,미분류,기타불명,보행자,남,45세,중상
4,2019010100100061,2019년 1월 1일 04시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,교차로 - 교차로부근,특수,남,50세,상해없음,보행자,남,35세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9891,2019123100100583,2019년 12월 31일 21시,화요일,서울특별시 강서구 화곡동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,남,24세,상해없음,보행자,여,27세,경상
9892,2019123100100607,2019년 12월 31일 22시,화요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,교차로 - 교차로안,승용,남,31세,상해없음,보행자,여,58세,경상
9893,2019123100100608,2019년 12월 31일 22시,화요일,서울특별시 영등포구 대림동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,기타 - 기타,원동기,남,16세,상해없음,보행자,여,46세,경상
9894,2019123100100610,2019년 12월 31일 22시,화요일,서울특별시 중랑구 면목동,부상신고사고,0,0,0,1,차대사람 - 차도통행중,...,맑음,단일로 - 기타,화물,남,28세,상해없음,보행자,여,33세,부상신고
9895,2019123100100612,2019년 12월 31일 22시,화요일,서울특별시 송파구 송파동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,36세,상해없음,보행자,여,18세,경상

In [ ]:
# 동 변수 생성

동(acc, "시군구")

In [ ]:
# 시간 변수 생성

acc["시간"] = np.nan

for i in range(acc.shape[0]):
  acc["시간"][i] = acc["사고일시"].str.split()[i][3]

acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,동,시간
0,2019010100100001,2019년 1월 1일 00시,화요일,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,승용,남,26세,상해없음,보행자,남,40세,경상,방화동,00시
1,2019010100100020,2019년 1월 1일 01시,화요일,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,승용,남,30세,상해없음,보행자,남,32세,경상,행당동,01시
2,2019010100100042,2019년 1월 1일 02시,화요일,서울특별시 강남구 논현동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,여,30세,상해없음,보행자,남,47세,경상,논현동,02시
3,2019010100100045,2019년 1월 1일 02시,화요일,서울특별시 서초구 방배동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,기타불명,기타불명,미분류,기타불명,보행자,남,45세,중상,방배동,02시
4,2019010100100061,2019년 1월 1일 04시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대사람 - 기타,...,특수,남,50세,상해없음,보행자,남,35세,경상,서초동,04시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9891,2019123100100583,2019년 12월 31일 21시,화요일,서울특별시 강서구 화곡동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,24세,상해없음,보행자,여,27세,경상,화곡동,21시
9892,2019123100100607,2019년 12월 31일 22시,화요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,31세,상해없음,보행자,여,58세,경상,장안동,22시
9893,2019123100100608,2019년 12월 31일 22시,화요일,서울특별시 영등포구 대림동,경상사고,0,0,1,0,차대사람 - 기타,...,원동기,남,16세,상해없음,보행자,여,46세,경상,대림동,22시
9894,2019123100100610,2019년 12월 31일 22시,화요일,서울특별시 중랑구 면목동,부상신고사고,0,0,0,1,차대사람 - 차도통행중,...,화물,남,28세,상해없음,보행자,여,33세,부상신고,면목동,22시
9895,2019123100100612,2019년 12월 31일 22시,화요일,서울특별시 송파구 송파동,경상사고,0,0,1,0,차대사람 - 횡단중,...,승용,남,36세,상해없음,보행자,여,18세,경상,송파동,22시

In [ ]:
# 주야구분 변수 생성

acc["주야구분"] = np.nan

for i in range(acc.shape[0]):
 if acc["시간"][i] in ["20시","21시","22시","23시","00시","01시","02시","03시","04시","05시","06시"]:
   acc["주야구분"][i] = "야간"
 else :
   acc["주야구분"][i] = "주간"

acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,동,시간,주야구분
0,2019010100100001,2019년 1월 1일 00시,화요일,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,26세,상해없음,보행자,남,40세,경상,방화동,00시,야간
1,2019010100100020,2019년 1월 1일 01시,화요일,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,30세,상해없음,보행자,남,32세,경상,행당동,01시,야간
2,2019010100100042,2019년 1월 1일 02시,화요일,서울특별시 강남구 논현동,경상사고,0,0,1,0,차대사람 - 기타,...,여,30세,상해없음,보행자,남,47세,경상,논현동,02시,야간
3,2019010100100045,2019년 1월 1일 02시,화요일,서울특별시 서초구 방배동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,기타불명,미분류,기타불명,보행자,남,45세,중상,방배동,02시,야간
4,2019010100100061,2019년 1월 1일 04시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대사람 - 기타,...,남,50세,상해없음,보행자,남,35세,경상,서초동,04시,야간
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9891,2019123100100583,2019년 12월 31일 21시,화요일,서울특별시 강서구 화곡동,경상사고,0,0,1,0,차대사람 - 기타,...,남,24세,상해없음,보행자,여,27세,경상,화곡동,21시,야간
9892,2019123100100607,2019년 12월 31일 22시,화요일,서울특별시 동대문구 장안동,경상사고,0,0,1,0,차대사람 - 기타,...,남,31세,상해없음,보행자,여,58세,경상,장안동,22시,야간
9893,2019123100100608,2019년 12월 31일 22시,화요일,서울특별시 영등포구 대림동,경상사고,0,0,1,0,차대사람 - 기타,...,남,16세,상해없음,보행자,여,46세,경상,대림동,22시,야간
9894,2019123100100610,2019년 12월 31일 22시,화요일,서울특별시 중랑구 면목동,부상신고사고,0,0,0,1,차대사람 - 차도통행중,...,남,28세,상해없음,보행자,여,33세,부상신고,면목동,22시,야간
9895,2019123100100612,2019년 12월 31일 22시,화요일,서울특별시 송파구 송파동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,36세,상해없음,보행자,여,18세,경상,송파동,22시,야간

In [ ]:
acc_count = acc.groupby(["동","주야구분"]).size()
acc_count = acc_count.reset_index()
acc_count = acc_count.rename(columns = {0:"사고횟수"})
acc_count

        동 주야구분  사고횟수
0     가락동   야간    28
1     가락동   주간    53
2    가리봉동   야간     4
3    가리봉동   주간    13
4     가산동   야간    15
..    ...  ...   ...
734   휘경동   주간    22
735   흑석동   야간     7
736   흑석동   주간    16
737   흥인동   야간     1
738   흥인동   주간     2

[739 rows x 3 columns]

In [ ]:
acc_day = acc_count[acc_count.주야구분 == "주간"].rename(columns = {"사고횟수":"주간사고횟수"})
acc_night = acc_count[acc_count.주야구분 == "야간"].rename(columns = {"사고횟수":"야간사고횟수"})
acc_count_final = pd.merge(acc_day,acc_night,how = "outer" ,on = "동").iloc[:,[0,2,4]]
acc_count_final

         동  주간사고횟수  야간사고횟수
0      가락동    53.0    28.0
1     가리봉동    13.0     4.0
2      가산동    27.0    15.0
3      가양동    22.0     8.0
4      가회동     2.0     NaN
..     ...     ...     ...
414    통인동     NaN     1.0
415    필운동     NaN     2.0
416     합동     NaN     1.0
417    행촌동     NaN     1.0
418  회현동3가     NaN     1.0

[419 rows x 3 columns]

In [ ]:
# 사고횟수가 na로 들어가 있다는 것은 사고 횟수가 없음을 뜻한다. 따라서 0으로 채워준다.

acc_count_final[acc_count_final.주간사고횟수.isna() == True] = acc_count_final[acc_count_final.주간사고횟수.isna() == True].replace(np.nan,0)
acc_count_final[acc_count_final.야간사고횟수.isna() == True] = acc_count_final[acc_count_final.야간사고횟수.isna() == True].replace(np.nan,0)
acc_count_final.isna().sum() # na값이 0으로 잘 대체되었다.

동         0
주간사고횟수    0
야간사고횟수    0
dtype: int64

In [ ]:
acc_count_final["야간사고비율"] = acc_count_final["야간사고횟수"] / (acc_count_final["주간사고횟수"] + acc_count_final["야간사고횟수"])
acc_count_final

         동  주간사고횟수  야간사고횟수    야간사고비율
0      가락동    53.0    28.0  0.345679
1     가리봉동    13.0     4.0  0.235294
2      가산동    27.0    15.0  0.357143
3      가양동    22.0     8.0  0.266667
4      가회동     2.0     0.0  0.000000
..     ...     ...     ...       ...
414    통인동     0.0     1.0  1.000000
415    필운동     0.0     2.0  1.000000
416     합동     0.0     1.0  1.000000
417    행촌동     0.0     1.0  1.000000
418  회현동3가     0.0     1.0  1.000000

[419 rows x 4 columns]

In [ ]:
acc_count_final["야간사고비율"].describe()

count    419.000000
mean       0.334705
std        0.249486
min        0.000000
25%        0.188345
50%        0.333333
75%        0.443152
max        1.000000
Name: 야간사고비율, dtype: float64

In [ ]:
a = acc_count_final.copy()
a = a[a.주간사고횟수>=10]
a.야간사고비율.describe()

count    155.000000
mean       0.314474
std        0.101635
min        0.000000
25%        0.250000
50%        0.320000
75%        0.367804
max        0.704918
Name: 야간사고비율, dtype: float64

**야간사고 위험도 기준**

* 주간사고 10건 이상 & 야간사고비율 37% 이상 -> A그룹
* 주간사고 10건 이상 & 야간사고비율 25% 이상 -> B그룹
* 주간사고 10건 이하 or 주간사고 10건 이상 & 야간사고비율 25% 이하 -> C그룹

In [ ]:
# 야간사고 위험도 변수 생성

acc_count_final["야간사고위험도"] = np.nan

for i in range(acc_count_final.shape[0]):
  if (acc_count_final["주간사고횟수"][i] >= 10) & (acc_count_final["야간사고비율"][i] >= 0.37):
    acc_count_final["야간사고위험도"][i] = "A"
  elif (acc_count_final["주간사고횟수"][i] >= 10) & (acc_count_final["야간사고비율"][i] >= 0.25):
    acc_count_final["야간사고위험도"][i] = "B"
  else:
    acc_count_final["야간사고위험도"][i] = "C"

acc_count_final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

         동  주간사고횟수  야간사고횟수    야간사고비율 야간사고위험도
0      가락동    53.0    28.0  0.345679       B
1     가리봉동    13.0     4.0  0.235294       C
2      가산동    27.0    15.0  0.357143       B
3      가양동    22.0     8.0  0.266667       B
4      가회동     2.0     0.0  0.000000       C
..     ...     ...     ...       ...     ...
414    통인동     0.0     1.0  1.000000       C
415    필운동     0.0     2.0  1.000000       C
416     합동     0.0     1.0  1.000000       C
417    행촌동     0.0     1.0  1.000000       C
418  회현동3가     0.0     1.0  1.000000       C

[419 rows x 5 columns]

In [ ]:
acc_count_final.value_counts("야간사고위험도")

야간사고위험도
C    299
B     82
A     38
dtype: int64

In [ ]:
#acc_count_final.to_csv("2019법정동별_교툥사고횟수.csv", index = False)

In [ ]:
code = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/code_map.csv")

### 동별 평균 연령 전처리

In [ ]:
pop_dens = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/평균연령_19년.csv", encoding = "euc-kr")
pop_dens = pop_dens.iloc[:,[0,1]]

In [ ]:
# 소계값 제거
pop_dens = pop_dens[pop_dens.동별 != "소계"]
pop_dens

       동별  전체평균연령
0     사직동    44.7
1     삼청동    47.6
2     부암동    44.4
3     평창동    44.3
4     무악동    42.5
..    ...     ...
419  둔촌1동    54.9
420  둔촌2동    42.6
421  암사1동    43.3
422  천호2동    44.4
423    길동    43.6

[424 rows x 2 columns]

In [ ]:
pop_dens2 = pd.merge(pop_dens, code.iloc[:,[1,2,5]], how = "left", left_on = "동별", right_on = "행정동")
pop_dens2

       동별  전체평균연령   행정동  법정동  법정동갯수
0     사직동    44.7   사직동  통의동   12.0
1     사직동    44.7   사직동  적선동   12.0
2     사직동    44.7   사직동  체부동   12.0
3     사직동    44.7   사직동  필운동   12.0
4     사직동    44.7   사직동  내자동   12.0
..    ...     ...   ...  ...    ...
737  둔촌1동    54.9  둔촌1동  둔촌동    1.0
738  둔촌2동    42.6  둔촌2동  둔촌동    1.0
739  암사1동    43.3  암사1동  암사동    1.0
740  천호2동    44.4  천호2동  천호동    1.0
741    길동    43.6    길동   길동    1.0

[742 rows x 5 columns]

In [ ]:
mean_age = pop_dens2.groupby("법정동").mean("평균나이")
mean_age = mean_age.reset_index().iloc[:,:2]
mean_age

      법정동  전체평균연령
0     가락동  40.300
1    가리봉동  48.900
2     가산동  41.000
3     가양동  43.175
4     가회동  46.400
..    ...     ...
458   후암동  43.900
459   훈정동  51.200
460   휘경동  42.500
461   흑석동  43.200
462   흥인동  45.800

[463 rows x 2 columns]

In [ ]:
#mean_age.to_csv("법정동별_평균연령.csv", index = False)

### 구별 교통안전지수 법정동 별로 전처리

In [ ]:
tss = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/교통안전지수_19년.csv", encoding = "euc-kr")
tss

       구   안전지수
0    광진구  83.22
1    도봉구  81.71
2    마포구  81.59
3    성북구  81.42
4    은평구  81.21
5    관악구  80.75
6    금천구  79.99
7    종로구  79.77
8    용산구  79.64
9    성동구  79.60
10   동작구  79.56
11   양천구  79.44
12   노원구  78.94
13   강북구  78.66
14  서대문구  78.58
15   강동구  77.77
16   서초구  77.35
17   중랑구  77.13
18   구로구  76.28
19   강서구  75.36
20    중구  75.09
21  동대문구  74.03
22  영등포구  73.98
23   송파구  73.37
24   강남구  71.33

In [ ]:
dong_tss = pd.merge(code,tss, how = "left", on = "구").iloc[:,[2,6]].drop_duplicates()
dong_tss

     법정동   안전지수
0    청운동  79.77
1    신교동  79.77
2    궁정동  79.77
3    효자동  79.77
4    창성동  79.77
..   ...    ...
729  암사동  77.77
732  천호동  77.77
735  성내동  77.77
738   길동  77.77
739  둔촌동  77.77

[467 rows x 2 columns]

In [ ]:
#dong_tss.to_csv("법정동별_교통안전지수.csv", index = False)

### 교차로 데이터 전처리

In [ ]:
code["동코드"] = (code["법정동코드"] % 1000) * 100 # 동코드 생성
cw = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019원본데이터/서울시교차로데이터.csv", encoding = "euc-kr")
cw = cw.rename(columns = {"동코드 (공통);": "동코드","구코드 (공통);": "구코드"}) #동코드, 구코드 이름 변경 
cw = cw[["교차로명칭","교차로코드","동코드","구코드"]] # 필요한 데이터만 추출
cw = cw[(cw.동코드.isna() == 0) & (cw.구코드.isna() == 0)] # 동코드 구코드 na값 제거
cw["구코드"] = cw["구코드"].astype(int)
cw["동코드"] = cw["동코드"].astype(int)
cw["수정동코드"]= (cw["구코드"].astype(str) + cw["동코드"].astype(str)).astype(int) #수정동코드 생성

In [ ]:
# 서울특별시 구 코드 생성

g_code= pd.DataFrame([['강남구', '11680'], ['강동구', '11740'], ['강북구', '11300'], ['강서구', '11500'], ['관악구', '11620'], ['광진구', '11210'], ['구로구', '11530'], ['금천구', '11540'], ['노원구', '11350'], ['도봉구', '11320'], ['동대문구', '11230'], ['동작구', '11590'], ['마포구', '11440'], ['서대문구', '11410'], ['서초구', '11650'], ['성동구', '11200'], ['성북구', '11290'], ['송파구', '11710'], ['양천구', '11470'], ['영등포구', '11560'], ['용산구', '11170'], ['은평구', '11380'], ['종로구', '11110'], ['중구', '11140'], ['중랑구', '11260']],
             )
g_code= g_code.rename(columns = {0:"구",1:"구코드"})

g_code["구코드"] = g_code["구코드"].astype(int)
g_code["구코드"] = g_code["구코드"] % 1000
g_code

In [ ]:
code2 = pd.merge(code,g_code,how = "left", on = "구")
code2

       구    행정동  법정동     행정동코드     법정동코드  법정동갯수    동코드  구코드
0    종로구  청운효자동  청운동  11110515  11110101     10  10100  110
1    종로구  청운효자동  신교동  11110515  11110102     10  10200  110
2    종로구  청운효자동  궁정동  11110515  11110103     10  10300  110
3    종로구  청운효자동  효자동  11110515  11110104     10  10400  110
4    종로구  청운효자동  창성동  11110515  11110105     10  10500  110
..   ...    ...  ...       ...       ...    ...    ...  ...
736  강동구   성내2동  성내동  11740650  11740108      1  10800  740
737  강동구   성내3동  성내동  11740660  11740108      1  10800  740
738  강동구     길동   길동  11740685  11740105      1  10500  740
739  강동구   둔촌1동  둔촌동  11740690  11740106      1  10600  740
740  강동구   둔촌2동  둔촌동  11740700  11740106      1  10600  740

[741 rows x 8 columns]

In [ ]:
code2["수정동코드"]= (code2["구코드"].astype(str) + code2["동코드"].astype(str)).astype(int)
code2

       구    행정동  법정동     행정동코드     법정동코드  법정동갯수    동코드  구코드     수정동코드
0    종로구  청운효자동  청운동  11110515  11110101     10  10100  110  11010100
1    종로구  청운효자동  신교동  11110515  11110102     10  10200  110  11010200
2    종로구  청운효자동  궁정동  11110515  11110103     10  10300  110  11010300
3    종로구  청운효자동  효자동  11110515  11110104     10  10400  110  11010400
4    종로구  청운효자동  창성동  11110515  11110105     10  10500  110  11010500
..   ...    ...  ...       ...       ...    ...    ...  ...       ...
736  강동구   성내2동  성내동  11740650  11740108      1  10800  740  74010800
737  강동구   성내3동  성내동  11740660  11740108      1  10800  740  74010800
738  강동구     길동   길동  11740685  11740105      1  10500  740  74010500
739  강동구   둔촌1동  둔촌동  11740690  11740106      1  10600  740  74010600
740  강동구   둔촌2동  둔촌동  11740700  11740106      1  10600  740  74010600

[741 rows x 9 columns]

In [ ]:
# 필요한 코드만 가져오고 1:M 관계로 생기는 중복 제거

code3 = code2.iloc[:,[2,8]].drop_duplicates("수정동코드")
code3

     법정동     수정동코드
0    청운동  11010100
1    신교동  11010200
2    궁정동  11010300
3    효자동  11010400
4    창성동  11010500
..   ...       ...
729  암사동  74010700
732  천호동  74010900
735  성내동  74010800
738   길동  74010500
739  둔촌동  74010600

[467 rows x 2 columns]

In [ ]:
cw_ct = pd.merge(cw, code3,how="left", on = "수정동코드")
cw_ct

           교차로명칭  교차로코드    동코드  구코드     수정동코드    법정동
0     독산역롯데캐슬아파트   1409  10200  540  54010200    독산동
1          금천구청역   1410  10300  540  54010300    시흥동
2          금천경찰서   1411  10300  540  54010300    시흥동
3       시흥동오피스빌딩   1412  10300  540  54010300    시흥동
4         안양천삼거리   1413  10200  540  54010200    독산동
...          ...    ...    ...  ...       ...    ...
8040    원가정의학과의원   8548  10700  380  38010700    응암동
8041      강덕초등학교   8550  10200  740  74010200    고덕동
8042      우체국사거리   8570  12700  560  56012700  양평동3가
8043       일민유치원   8575  11500  170  17011500    산천동
8044  위례포레샤인13단지   8596  10900  710  71010900    장지동

[8045 rows x 6 columns]

In [ ]:
# 정확한 법정동이 나오지 않는 지역 수기로 수정

cw_ct[cw_ct.수정동코드==38011100] = cw_ct[cw_ct.수정동코드==38011100].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==74010400] = cw_ct[cw_ct.수정동코드==74010400].replace({"법정동":np.nan},"강일동")
cw_ct[cw_ct.수정동코드==68010200] = cw_ct[cw_ct.수정동코드==68010200].replace({"법정동":np.nan},"개포동")
cw_ct[cw_ct.수정동코드==21010600] = cw_ct[cw_ct.수정동코드==21010600].replace({"법정동":np.nan},"자양동")
cw_ct[cw_ct.수정동코드==21010800] = cw_ct[cw_ct.수정동코드==21010800].replace({"법정동":np.nan},"화양동")
cw_ct[cw_ct.수정동코드==38011300] = cw_ct[cw_ct.수정동코드==38011300].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==38011200] = cw_ct[cw_ct.수정동코드==38011200].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==17017400] = cw_ct[cw_ct.수정동코드==17017400].replace({"법정동":np.nan},"서계동")
cw_ct[(cw_ct.법정동.isna()==True)&(cw_ct.구코드==410)] = cw_ct[(cw_ct.법정동.isna()==True)&(cw_ct.구코드==410)].replace({"법정동":np.nan},"창천동")

In [ ]:
cw_ct2 = cw_ct.value_counts("법정동").reset_index()
cw_ct2 = cw_ct2.rename(columns = {0:"교차로수"})
cw_ct2

      법정동  교차로수
0     신정동   173
1     신림동   154
2     상계동   143
3      목동   128
4     구로동   127
..    ...   ...
407   방산동     1
408  필동2가     1
409   송월동     1
410   당주동     1
411  필동3가     1

[412 rows x 2 columns]

In [ ]:
# cw_ct2.to_csv("법정동별_교차로수.csv", index = False)

## 2. 2021 데이터 전처리(labeling data)

### 동별 횡단보도 합계 처리

In [ ]:
dong_cw = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/동별 횡단보도 합계.csv", encoding = "euc-kr")
dong_cw
# code열을 보니 행정지역으로 되어있는 것을 알 수 있다.

        code  name  count
0    1125074    길동    159
1    1125073  천호2동    117
2    1125072  암사1동     46
3    1125071  둔촌2동    108
4    1125070  둔촌1동     38
..       ...   ...    ...
419  1101057   무악동     11
420  1101056   평창동     70
421  1101055   부암동     39
422  1101054   삼청동     46
423  1101053   사직동    134

[424 rows x 3 columns]

In [ ]:
행정구역코드 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/행정구역코드.csv",encoding = "euc-kr").iloc[:,:8]
행정구역코드 = 행정구역코드.dropna()
행정구역코드 = 행정구역코드[행정구역코드.시도=="서울특별시"]
행정구역코드

        시도  시군구 행정구역명    행정동  법정동     행정구역분류        행정기관코드        법정기관코드
2    서울특별시  종로구   사직동    사직동  통의동  1101053.0  1.111053e+09  1.111011e+09
3    서울특별시  종로구   사직동    사직동  적선동  1101053.0  1.111053e+09  1.111011e+09
4    서울특별시  종로구   사직동    사직동  체부동  1101053.0  1.111053e+09  1.111011e+09
5    서울특별시  종로구   사직동    사직동  필운동  1101053.0  1.111053e+09  1.111011e+09
6    서울특별시  종로구   사직동    사직동  내자동  1101053.0  1.111053e+09  1.111011e+09
..     ...  ...   ...    ...  ...        ...           ...           ...
752  서울특별시  강동구  둔촌1동  둔촌제1동  둔촌동  1125070.0  1.174069e+09  1.174011e+09
753  서울특별시  강동구  둔촌2동  둔촌제2동  둔촌동  1125071.0  1.174070e+09  1.174011e+09
754  서울특별시  강동구  암사1동  암사제1동  암사동  1125072.0  1.174057e+09  1.174011e+09
755  서울특별시  강동구  천호2동  천호제2동  천호동  1125073.0  1.174061e+09  1.174011e+09
756  서울특별시  강동구    길동     길동   길동  1125074.0  1.174068e+09  1.174010e+09

[731 rows x 8 columns]

In [ ]:
#행정구역을 기준으로 법정동 코드와 조인해준다 
new_dong_cw = pd.merge(dong_cw, 행정구역코드.iloc[:,[5,6]], how = "left", left_on = "code", right_on = "행정구역분류")
new_dong_cw["행정기관코드"] =  new_dong_cw["행정기관코드"]/100
new_dong_cw

        code  name  count     행정구역분류      행정기관코드
0    1125074    길동    159  1125074.0  11740685.0
1    1125073  천호2동    117  1125073.0  11740610.0
2    1125072  암사1동     46  1125072.0  11740570.0
3    1125071  둔촌2동    108  1125071.0  11740700.0
4    1125070  둔촌1동     38  1125070.0  11740690.0
..       ...   ...    ...        ...         ...
726  1101053   사직동    134  1101053.0  11110530.0
727  1101053   사직동    134  1101053.0  11110530.0
728  1101053   사직동    134  1101053.0  11110530.0
729  1101053   사직동    134  1101053.0  11110530.0
730  1101053   사직동    134  1101053.0  11110530.0

[731 rows x 5 columns]

In [ ]:
new_dong_cw2 = pd.merge(new_dong_cw, code_map.iloc[:,[1,2,3,5]], how = "left", left_on = "행정기관코드", right_on = "행정동코드")
new_dong_cw2

,code,name,count,행정구역분류,행정기관코드,행정동,법정동,행정동코드,법정동갯수
0,1125074,길동,159,1125074.0,11740685.0,길동,길동,11740685.0,1.0
1,1125073,천호2동,117,1125073.0,11740610.0,천호2동,천호동,11740610.0,1.0
2,1125072,암사1동,46,1125072.0,11740570.0,암사1동,암사동,11740570.0,1.0
3,1125071,둔촌2동,108,1125071.0,11740700.0,둔촌2동,둔촌동,11740700.0,1.0
4,1125070,둔촌1동,38,1125070.0,11740690.0,둔촌1동,둔촌동,11740690.0,1.0
...,...,...,...,...,...,...,...,...,...
3637,1101053,사직동,134,1101053.0,11110530.0,사직동,당주동,11110530.0,12.0
3638,1101053,사직동,134,1101053.0,11110530.0,사직동,내수동,11110530.0,12.0
3639,1101053,사직동,134,1101053.0,11110530.0,사직동,세종로,11110530.0,12.0
3640,1101053,사직동,134,1101053.0,11110530.0,사직동,신문로1가,11110530.0,12.0
3641,1101053,사직동,134,1101053.0,11110530.0,사직동,신문로2가,11110530.0,12.0

In [ ]:
new_dong_cw2[new_dong_cw2.행정동코드 == 11530112]

Empty DataFrame
Columns: [code, name, count, 행정구역분류, 행정기관코드, 행정동, 법정동, 행정동코드, 법정동갯수]
Index: []

In [ ]:
행정동갯수 = pd.DataFrame(new_dong_cw2.value_counts("행정동")).reset_index().rename(columns = {0:"행정동갯수"})
행정동갯수

             행정동  행정동갯수
0    종로1.2.3.4가동    812
1             명동    529
2            소공동    144
3            사직동    144
4             필동    121
..           ...    ...
404         불광2동      1
405         불광1동      1
406         북아현동      1
407        북가좌2동      1
408          흑석동      1

[409 rows x 2 columns]

In [ ]:
new_dong_cw3 = pd.merge(new_dong_cw2.iloc[:,[2,5,6]], 행정동갯수, how = "left", left_on = "행정동", right_on = "행정동")
new_dong_cw3

      count   행정동    법정동  행정동갯수
0       159    길동     길동    1.0
1       117  천호2동    천호동    1.0
2        46  암사1동    암사동    1.0
3       108  둔촌2동    둔촌동    1.0
4        38  둔촌1동    둔촌동    1.0
...     ...   ...    ...    ...
3637    134   사직동    당주동  144.0
3638    134   사직동    내수동  144.0
3639    134   사직동    세종로  144.0
3640    134   사직동  신문로1가  144.0
3641    134   사직동  신문로2가  144.0

[3642 rows x 4 columns]

In [ ]:
new_dong_cw3["보정횡단보도수"] = new_dong_cw3["count"] / new_dong_cw3["행정동갯수"]
new_dong_cw3

      count   행정동    법정동  행정동갯수     보정횡단보도수
0       159    길동     길동    1.0  159.000000
1       117  천호2동    천호동    1.0  117.000000
2        46  암사1동    암사동    1.0   46.000000
3       108  둔촌2동    둔촌동    1.0  108.000000
4        38  둔촌1동    둔촌동    1.0   38.000000
...     ...   ...    ...    ...         ...
3637    134   사직동    당주동  144.0    0.930556
3638    134   사직동    내수동  144.0    0.930556
3639    134   사직동    세종로  144.0    0.930556
3640    134   사직동  신문로1가  144.0    0.930556
3641    134   사직동  신문로2가  144.0    0.930556

[3642 rows x 5 columns]

In [ ]:
법정동횡단보도수 = pd.DataFrame(new_dong_cw3.groupby("법정동")["보정횡단보도수"].sum()).reset_index()
법정동횡단보도수

      법정동     보정횡단보도수
0     가락동  283.000000
1    가리봉동   23.000000
2     가산동  264.000000
3     가양동  333.500000
4     가회동    7.750000
..    ...         ...
455   효창동   44.000000
456   후암동   63.000000
457   훈정동    9.862069
458   휘경동  104.000000
459   흑석동  124.000000

[460 rows x 2 columns]

In [ ]:
for i in range(법정동횡단보도수.shape[0]):
  법정동횡단보도수["보정횡단보도수"][i] = math.ceil(법정동횡단보도수["보정횡단보도수"][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
법정동횡단보도수.sort_values("보정횡단보도수")

     법정동  보정횡단보도수
446   화동      7.0
175  사간동      7.0
417  팔판동      7.0
189  삼청동      7.0
253  안국동      7.0
..   ...      ...
149  미아동    519.0
151  방배동    520.0
31   구로동    592.0
190  상계동    615.0
246  신정동    678.0

[460 rows x 2 columns]

In [ ]:
#법정동횡단보도수.to_csv("법정동별_횡단보도수.csv",index = False)

### 서울시 생활인구 데이터 전처리

In [ ]:

f1 = pd.read_csv("생활인구/F1.csv",index_col = False)
f2 = pd.read_csv("생활인구/F2.csv", index_col = False)ㅈ
f3 = pd.read_csv("생활인구/F3.csv", index_col = False)
f4 = pd.read_csv("생활인구/F4.csv", index_col = False)
f5 = pd.read_csv("생활인구/F5.csv", index_col = False)
f6 = pd.read_csv("생활인구/F6.csv", index_col = False)
f7 = pd.read_csv("생활인구/F7.csv", index_col = False)
f8 = pd.read_csv("생활인구/F8.csv", index_col = False)
f9 = pd.read_csv("생활인구/F9.csv", index_col = False)
f10 = pd.read_csv("생활인구/F10.csv", index_col = False)
f11 = pd.read_csv("생활인구/F11.csv", index_col = False)
f12 = pd.read_csv("생활인구/F12.csv", index_col = False)
l1 = pd.read_csv("생활인구/l1.csv", index_col = False)
l2 = pd.read_csv("생활인구/l2.csv", index_col = False)
l3 = pd.read_csv("생활인구/l3.csv", index_col = False)
l4 = pd.read_csv("생활인구/l4.csv", index_col = False)
l5 = pd.read_csv("생활인구/l5.csv", index_col = False)
l6 = pd.read_csv("생활인구/l6.csv", index_col = False)
l7 = pd.read_csv("생활인구/l7.csv", index_col = False)
l8 = pd.read_csv("생활인구/l8.csv", index_col = False)
l9 = pd.read_csv("생활인구/l9.csv", index_col = False)
l10 = pd.read_csv("생활인구/l10.csv", index_col = False)
l11 = pd.read_csv("생활인구/l11.csv", index_col = False)
l12 = pd.read_csv("생활인구/l12.csv", index_col = False)ㅇ

In [ ]:

생활인구 = pd.concat([l1,l2,l3,l4,l5,l6,l7,l8,l9,l10,l11,l12,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12]) # 데이터 병합
생활인구.index = np.arange(생활인구.shape[0]) # 인덱스 재설정
생활인구 = 생활인구.iloc[:,:4] # 필요한 데이터만 추출
생활인구

In [ ]:

생활인구["주야구분"] = np.nan

for i in range(생활인구.shape[0]):
  if 생활인구.시간대구분[i] in [20,21,22,23,0,1,2,3,4,5,6]:
    생활인구["주야구분"][i] = "야간"
  else:
    생활인구["주야구분"][i] = "주간"

생활인구["주야구분"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0          야간
1          야간
2          야간
3          야간
4          야간
           ..
7428475    야간
7428476    야간
7428477    야간
7428478    야간
7428479    야간
Name: 주야구분, Length: 7428480, dtype: object

In [ ]:
#생활인구.to_csv("생활인구(수정).csv", index = False)

In [ ]:

생활인구 = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/생활인구(수정).csv")
display(code_map.head(), 생활인구.head())

     구    행정동  법정동     행정동코드     법정동코드  법정동갯수
0  종로구  청운효자동  청운동  11110515  11110101     10
1  종로구  청운효자동  신교동  11110515  11110102     10
2  종로구  청운효자동  궁정동  11110515  11110103     10
3  종로구  청운효자동  효자동  11110515  11110104     10
4  종로구  청운효자동  창성동  11110515  11110105     10

      기준일ID  시간대구분     행정동코드      총생활인구수 주야구분
0  20210101      0  11110515  14473.8890   야간
1  20210101      0  11110530  13299.5313   야간
2  20210101      0  11110550  15518.3772   야간
3  20210101      0  11110600   5108.9481   야간
4  20210101      0  11110700   7907.7246   야간

In [ ]:
법정동별_생활인구 = pd.merge(생활인구,code_map, how = "left", on = "행정동코드")
법정동별_생활인구

,기준일ID,시간대구분,행정동코드,총생활인구수,주야구분,구,행정동,법정동,법정동코드,법정동갯수
0,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,청운동,11110101.0,10.0
1,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,신교동,11110102.0,10.0
2,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,궁정동,11110103.0,10.0
3,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,효자동,11110104.0,10.0
4,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,창성동,11110105.0,10.0
...,...,...,...,...,...,...,...,...,...,...
12947275,20211231,23,11500641,213.4396,야간,강서구,방화3동,방화동,11500109.0,1.0
12947276,20211231,23,11530510,471.8542,야간,구로구,신도림동,신도림동,11530101.0,1.0
12947277,20211231,23,11530520,343.2755,야간,구로구,구로1동,구로동,11530102.0,1.0
12947278,20211231,23,11530530,10220.8131,야간,구로구,구로2동,구로동,11530102.0,1.0
12947279,20211231,23,11530550,6306.7722,야간,구로구,구로4동,구로동,11530102.0,1.0

In [ ]:
법정동별_생활인구["보정생활인구수"] = 법정동별_생활인구["총생활인구수"] / 법정동별_생활인구["법정동갯수"]
법정동별_생활인구

,기준일ID,시간대구분,행정동코드,총생활인구수,주야구분,구,행정동,법정동,법정동코드,법정동갯수,보정생활인구수
0,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,청운동,11110101.0,10.0,1447.3889
1,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,신교동,11110102.0,10.0,1447.3889
2,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,궁정동,11110103.0,10.0,1447.3889
3,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,효자동,11110104.0,10.0,1447.3889
4,20210101,0,11110515,14473.8890,야간,종로구,청운효자동,창성동,11110105.0,10.0,1447.3889
...,...,...,...,...,...,...,...,...,...,...,...
12947275,20211231,23,11500641,213.4396,야간,강서구,방화3동,방화동,11500109.0,1.0,213.4396
12947276,20211231,23,11530510,471.8542,야간,구로구,신도림동,신도림동,11530101.0,1.0,471.8542
12947277,20211231,23,11530520,343.2755,야간,구로구,구로1동,구로동,11530102.0,1.0,343.2755
12947278,20211231,23,11530530,10220.8131,야간,구로구,구로2동,구로동,11530102.0,1.0,10220.8131
12947279,20211231,23,11530550,6306.7722,야간,구로구,구로4동,구로동,11530102.0,1.0,6306.7722

In [ ]:
a = pd.DataFrame(생활인구.groupby(["행정동코드","주야구분"])["총생활인구수"].sum()/365).reset_index()
a

        행정동코드 주야구분         총생활인구수
0    11110515   야간  168422.301946
1    11110515   주간  236424.532038
2    11110530   야간  170762.134805
3    11110530   주간  400697.310442
4    11110540   야간   46404.849843
..        ...  ...            ...
843  11740685   주간  662464.442695
844  11740690   야간   72451.898214
845  11740690   주간   81937.111795
846  11740700   야간  302546.327483
847  11740700   주간  347258.493613

[848 rows x 3 columns]

In [ ]:
b = pd.DataFrame(법정동별_생활인구.groupby(["법정동","주야구분"])["보정생활인구수"].sum()/365).reset_index()
b

      법정동 주야구분       보정생활인구수
0     가락동   야간  1.075640e+06
1     가락동   주간  1.211905e+06
2    가리봉동   야간  1.788498e+05
3    가리봉동   주간  1.918697e+05
4     가산동   야간  4.427212e+05
..    ...  ...           ...
919   휘경동   주간  4.949171e+05
920   흑석동   야간  3.799440e+05
921   흑석동   주간  4.452368e+05
922   흥인동   야간  9.810000e+04
923   흥인동   주간  1.123917e+05

[924 rows x 3 columns]

In [ ]:
# b.to_csv("법정동별_주야별_생활인구.csv", index = False)

### 주민등록인구 전처리

In [ ]:
a = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/법정동_주민등록수.csv", encoding = "euc-kr")
a = a.iloc[:,[4,6]]

In [ ]:
#a.to_csv("법정동별_주민등록수.csv", index = False)

### 자동차보유대수 전처리

In [ ]:
car = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/서울시자동차등록현황.csv", encoding ="euc-kr").iloc[4:,:]
car = car.iloc[:,[0,14]]
car = car.set_index(np.arange(car.shape[0]))
car

         행정동-연료별 분류    총합계
0    서울특별시 강남구 개포1동   3599
1    서울특별시 강남구 개포2동   9948
2    서울특별시 강남구 개포4동   8563
3    서울특별시 강남구 논현1동  10529
4    서울특별시 강남구 논현2동  10295
..              ...    ...
444  서울특별시 중랑구 상봉2동   5443
445  서울특별시 중랑구 신내1동  12801
446  서울특별시 중랑구 신내2동   6917
447  서울특별시 중랑구 중화1동   5613
448  서울특별시 중랑구 중화2동   6202

[449 rows x 2 columns]

In [ ]:
동(car, "행정동-연료별 분류")
car

         행정동-연료별 분류    총합계     동
0    서울특별시 강남구 개포1동   3599  개포1동
1    서울특별시 강남구 개포2동   9948  개포2동
2    서울특별시 강남구 개포4동   8563  개포4동
3    서울특별시 강남구 논현1동  10529  논현1동
4    서울특별시 강남구 논현2동  10295  논현2동
..              ...    ...   ...
444  서울특별시 중랑구 상봉2동   5443  상봉2동
445  서울특별시 중랑구 신내1동  12801  신내1동
446  서울특별시 중랑구 신내2동   6917  신내2동
447  서울특별시 중랑구 중화1동   5613  중화1동
448  서울특별시 중랑구 중화2동   6202  중화2동

[449 rows x 3 columns]

'상일제1동', '상일제2동 '번1동', '번2동', '번3동'

In [ ]:
car.동.unique()

array(['개포1동', '개포2동', '개포4동', '논현1동', '논현2동', '논현동', '대치1동', '대치2동',
       '대치4동', '도곡1동', '도곡2동', '삼성1동', '삼성2동', '세곡동', '수서동', '신사동',
       '압구정동', '역삼1동', '역삼2동', '일원1동', '일원2동', '일원본동', '청담동', '강일동',
       '고덕1동', '고덕2동', '길1동', '길동', '둔촌1동', '둔촌2동', '명일1동', '명일2동', '상일동',
       '상일제1동', '상일제2동', '성내1동', '성내2동', '성내3동', '암사1동', '암사2동', '암사3동',
       '천호1동', '천호2동', '천호3동', '하일동', '미아동', '번1동', '번2동', '번3동', '삼각산동',
       '삼양동', '송중동', '송천동', '수유1동', '수유2동', '수유3동', '우이동', '인수동', '가양1동',
       '가양2동', '가양3동', '공항동', '등촌1동', '등촌2동', '등촌3동', '발산1동', '방화1동',
       '방화2동', '방화3동', '염창동', '우장산동', '화곡1동', '화곡2동', '화곡3동', '화곡4동',
       '화곡6동', '화곡8동', '화곡본동', '낙성대동', '난곡동', '난향동', '남현동', '대학동', '미성동',
       '보라매동', '삼성동', '서림동', '서원동', '성현동', '신림동', '신원동', '은천동', '인헌동',
       '조원동', '중앙동', '청룡동', '청림동', '행운동', '광장동', '구의1동', '구의2동', '구의3동',
       '군자동', '능동', '자양1동', '자양2동', '자양3동', '자양4동', '중곡1동', '중곡2동',
       '중곡3동', '중곡4동', '화양동', '가리봉동', '개봉1동', '개봉2동', '개봉3동', '개봉본동',
       '고척1동', '고척2동', '구로1동', '구로2동', '구로3동', '구로4동', '구로5동', '구로본동',
       '수궁동', '신도림동', '오류1동', '오류2동', '항동', '가산동', '독산1동', '독산1동분소',
       '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동',
       '공릉1.3동', '공릉1동', '공릉2동', '상계10동', '상계1동', '상계2동', '상계3.4동',
       '상계5동', '상계6.7동', '상계8동', '상계9동', '월계1동', '월계2동', '월계3동', '월계4동',
       '중계1동', '중계2.3동', '중계4동', '중계본동', '하계1동', '하계2동', '도봉1동', '도봉2동',
       '방학1동', '방학2동', '방학3동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '창1동',
       '창2동', '창3동', '창4동', '창5동', '답십리1동', '답십리2동', '용신동', '이문1동',
       '이문2동', '장안1동', '장안2동', '전농1동', '전농2동', '제기동', '청량리동', '회기동',
       '휘경1동', '휘경2동', '노량진1동', '노량진2동', '대방동', '사당1동', '사당2동', '사당3동',
       '사당4동', '사당5동', '상도1동', '상도2동', '상도3동', '상도4동', '신대방1동', '신대방2동',
       '흑석동', '공덕동', '노고산동', '대흥동', '도화1동', '도화2동', '도화동', '망원1동', '망원2동',
       '상암동', '서강동', '서교동', '성산1동', '성산2동', '신수동', '아현동', '연남동', '염리동',
       '용강동', '합정동', '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동', '북아현동', '신촌동',
       '연희동', '천연동', '충현동', '홍은1동', '홍은2동', '홍제1동', '홍제2동', '홍제3동', '내곡동',
       '도곡동', '반포1동', '반포2동', '반포3동', '반포4동', '반포본동', '방배1동', '방배2동',
       '방배3동', '방배4동', '방배본동', '서초1동', '서초2동', '서초3동', '서초4동', '양재1동',
       '양재2동', '잠원동', '금호1가동', '금호2.3가동', '금호4가동', '마장동', '사근동', '성수1가1동',
       '성수1가2동', '성수2가1동', '성수2가3동', '송정동', '옥수동', '왕십리2동', '왕십리도선동',
       '용답동', '응봉동', '행당1동', '행당2동', '길음1동', '길음2동', '돈암1동', '돈암2동',
       '동선동', '보문동', '삼선동', '석관동', '성북동', '안암동', '월곡1동', '월곡2동', '장위1동',
       '장위2동', '장위3동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '종암동', '가락1동',
       '가락2동', '가락본동', '거여1동', '거여2동', '마천1동', '마천2동', '문정1동', '문정2동',
       '방이1동', '방이2동', '삼전동', '석촌동', '송파1동', '송파2동', '오금동', '오륜동', '위례동',
       '잠실2동', '잠실3동', '잠실4동', '잠실6동', '잠실7동', '잠실본동', '장지동', '풍납1동',
       '풍납2동', '목1동', '목2동', '목3동', '목4동', '목5동', '신월1동', '신월2동', '신월3동',
       '신월4동', '신월5동', '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동',
       '신정6동', '신정7동', '당산1동', '당산2동', '대림1동', '대림2동', '대림3동', '도림동',
       '문래동', '신길1동', '신길3동', '신길4동', '신길5동', '신길6동', '신길7동', '양평1동',
       '양평2동', '여의동', '영등포1동', '영등포동', '영등포본동', '남영동', '보광동', '서빙고동',
       '용문동', '용산2가동', '원효로1동', '원효로2동', '이촌1동', '이촌2동', '이태원1동', '이태원2동',
       '청파동', '한강로동', '한남동', '효창동', '후암동', '갈현1동', '갈현2동', '구산동', '녹번동',
       '대조동', '불광1동', '불광2동', '수색동', '신사1동', '신사2동', '역촌동', '응암1동',
       '응암2동', '응암3동', '증산동', '진관동', '가회동', '교남동', '명륜3가동', '무악동', '부암동',
       '사직동', '삼청동', '숭인1동', '숭인2동', '이화동', '종로1.2.3.4가동', '종로5.6가동',
       '창신1동', '창신2동', '창신3동', '청운효자동', '평창동', '혜화동', '광희동', '남대문로5가동',
       '다산동', '동화동', '명동', '소공동', '신당1동', '신당2동', '신당3동', '신당4동', '신당5동',
       '신당6동', '신당동', '약수동', '을지로3.4.5가동', '을지로동', '장충동', '중림동', '청구동',
       '태평로1가동', '필동', '황학동', '회현동', '망우3동', '망우본동', '면목2동', '면목3.8동',
       '면목4동', '면목5동', '면목7동', '면목본동', '묵1동', '묵2동', '상봉1동', '상봉2동',
       '신내1동', '신내2동', '중화1동', '중화2동'], dtype=object)

In [ ]:
car["행정동-연료별 분류"]

0      서울특별시 강남구 개포1동
1      서울특별시 강남구 개포2동
2      서울특별시 강남구 개포4동
3      서울특별시 강남구 논현1동
4      서울특별시 강남구 논현2동
            ...
444    서울특별시 중랑구 상봉2동
445    서울특별시 중랑구 신내1동
446    서울특별시 중랑구 신내2동
447    서울특별시 중랑구 중화1동
448    서울특별시 중랑구 중화2동
Name: 행정동-연료별 분류, Length: 449, dtype: object

In [ ]:
car[(car.동 == "상일제1동") | (car.동 == "상일제2동")].총합계.sum()

1367

In [ ]:
car[(car.동 == "번1동") | (car.동 == "번2동")|(car.동 == "번3동")].총합계.sum()

12942

In [ ]:
bjd_car = pd.merge(car, code_map.iloc[:,[1,2,5]], how = "left", left_on = "동", right_on = "행정동")
bjd_car["보정합계"] = bjd_car["총합계"]/bjd_car["법정동갯수"]
bjd_car

         행정동-연료별 분류    총합계     동   행정동  법정동  법정동갯수     보정합계
0    서울특별시 강남구 개포1동   3599  개포1동  개포1동  개포동    1.0   3599.0
1    서울특별시 강남구 개포2동   9948  개포2동  개포2동  개포동    2.0   4974.0
2    서울특별시 강남구 개포2동   9948  개포2동  개포2동  일원동    2.0   4974.0
3    서울특별시 강남구 개포4동   8563  개포4동  개포4동  개포동    1.0   8563.0
4    서울특별시 강남구 논현1동  10529  논현1동  논현1동  논현동    1.0  10529.0
..              ...    ...   ...   ...  ...    ...      ...
762  서울특별시 중랑구 상봉2동   5443  상봉2동  상봉2동  상봉동    1.0   5443.0
763  서울특별시 중랑구 신내1동  12801  신내1동  신내1동  신내동    1.0  12801.0
764  서울특별시 중랑구 신내2동   6917  신내2동  신내2동  신내동    1.0   6917.0
765  서울특별시 중랑구 중화1동   5613  중화1동  중화1동  중화동    1.0   5613.0
766  서울특별시 중랑구 중화2동   6202  중화2동  중화2동  중화동    1.0   6202.0

[767 rows x 7 columns]

In [ ]:
법정동자동차수 = pd.DataFrame(bjd_car.groupby("법정동")["보정합계"].sum()).reset_index()
법정동자동차수

      법정동          보정합계
0     가락동  35033.000000
1    가리봉동   2769.000000
2     가산동  20104.000000
3     가양동  30468.500000
4     가회동    320.500000
..    ...           ...
459   후암동   4040.000000
460   훈정동    201.206897
461   휘경동  10256.000000
462   흑석동   9127.000000
463   흥인동   1111.000000

[464 rows x 2 columns]

In [ ]:
#법정동자동차수.to_csv("법정동자동차수.csv",index = False)

### 법정동 면적 전처리

In [ ]:
#pd.read_csv("법정동_면적.csv", encoding = "euc-kr").iloc[:,[0,1,5]].to_csv("법정동_면적.csv", index = False)

### 서울시 차대사람 사고데이터 전처리

In [ ]:
acc = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/서울시교통사고데이터.csv", encoding = "euc-kr")
acc

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2021010100100028,2021년 1월 1일 04시,금요일,서울특별시 강남구 일원동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,교차로 - 교차로부근,승용,남,32세,상해없음,보행자,남,47세,경상
1,2021010100100132,2021년 1월 1일 16시,금요일,서울특별시 노원구 상계동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,남,49세,상해없음,보행자,여,30세,경상
2,2021010100100186,2021년 1월 1일 19시,금요일,서울특별시 강동구 성내동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,이륜,남,30세,상해없음,보행자,여,16세,경상
3,2021010200100014,2021년 1월 2일 03시,토요일,서울특별시 은평구 녹번동,중상사고,0,1,0,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,남,66세,상해없음,보행자,남,39세,중상
4,2021010200100029,2021년 1월 2일 07시,토요일,서울특별시 종로구 평창동,사망사고,1,0,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,화물,남,65세,상해없음,보행자,여,49세,사망
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7070,2021123100100487,2021년 12월 31일 19시,금요일,서울특별시 은평구 역촌동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,맑음,단일로 - 기타,이륜,남,29세,상해없음,보행자,여,56세,중상
7071,2021123100100533,2021년 12월 31일 20시,금요일,서울특별시 중구 충무로4가,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,74세,상해없음,보행자,여,77세,중상
7072,2021123100100562,2021년 12월 31일 21시,금요일,서울특별시 마포구 서교동,중상사고,0,1,0,0,차대사람 - 길가장자리구역통행중,...,흐림,단일로 - 기타,화물,남,31세,상해없음,보행자,남,30세,중상
7073,2021123100100565,2021년 12월 31일 21시,금요일,서울특별시 강남구 세곡동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로안,승용,여,42세,상해없음,보행자,여,49세,중상
7074,2021123100100625,2021년 12월 31일 23시,금요일,서울특별시 서초구 반포동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승합,남,59세,상해없음,보행자,여,27세,경상

In [ ]:
# 동 변수 생성

동(acc, "시군구")

In [ ]:
# 시간 변수 생성

acc["시간"] = np.nan

for i in range(acc.shape[0]):
  acc["시간"][i] = acc["사고일시"].str.split()[i][3]

acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,동,시간
0,2021010100100028,2021년 1월 1일 04시,금요일,서울특별시 강남구 일원동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,32세,상해없음,보행자,남,47세,경상,일원동,04시
1,2021010100100132,2021년 1월 1일 16시,금요일,서울특별시 노원구 상계동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,남,49세,상해없음,보행자,여,30세,경상,상계동,16시
2,2021010100100186,2021년 1월 1일 19시,금요일,서울특별시 강동구 성내동,경상사고,0,0,1,0,차대사람 - 횡단중,...,이륜,남,30세,상해없음,보행자,여,16세,경상,성내동,19시
3,2021010200100014,2021년 1월 2일 03시,토요일,서울특별시 은평구 녹번동,중상사고,0,1,0,0,차대사람 - 기타,...,승용,남,66세,상해없음,보행자,남,39세,중상,녹번동,03시
4,2021010200100029,2021년 1월 2일 07시,토요일,서울특별시 종로구 평창동,사망사고,1,0,0,0,차대사람 - 횡단중,...,화물,남,65세,상해없음,보행자,여,49세,사망,평창동,07시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7070,2021123100100487,2021년 12월 31일 19시,금요일,서울특별시 은평구 역촌동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,이륜,남,29세,상해없음,보행자,여,56세,중상,역촌동,19시
7071,2021123100100533,2021년 12월 31일 20시,금요일,서울특별시 중구 충무로4가,중상사고,0,1,0,0,차대사람 - 횡단중,...,승용,남,74세,상해없음,보행자,여,77세,중상,충무로4가,20시
7072,2021123100100562,2021년 12월 31일 21시,금요일,서울특별시 마포구 서교동,중상사고,0,1,0,0,차대사람 - 길가장자리구역통행중,...,화물,남,31세,상해없음,보행자,남,30세,중상,서교동,21시
7073,2021123100100565,2021년 12월 31일 21시,금요일,서울특별시 강남구 세곡동,중상사고,0,1,0,0,차대사람 - 횡단중,...,승용,여,42세,상해없음,보행자,여,49세,중상,세곡동,21시
7074,2021123100100625,2021년 12월 31일 23시,금요일,서울특별시 서초구 반포동,경상사고,0,0,1,0,차대사람 - 기타,...,승합,남,59세,상해없음,보행자,여,27세,경상,반포동,23시

In [ ]:
# 주야구분 변수 생성

acc["주야구분"] = np.nan

for i in range(acc.shape[0]):
 if acc["시간"][i] in ["20시","21시","22시","23시","00시","01시","02시","03시","04시","05시","06시"]:
   acc["주야구분"][i] = "야간"
 else :
   acc["주야구분"][i] = "주간"

acc

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,동,시간,주야구분
0,2021010100100028,2021년 1월 1일 04시,금요일,서울특별시 강남구 일원동,경상사고,0,0,1,0,차대사람 - 기타,...,남,32세,상해없음,보행자,남,47세,경상,일원동,04시,야간
1,2021010100100132,2021년 1월 1일 16시,금요일,서울특별시 노원구 상계동,경상사고,0,0,1,0,차대사람 - 기타,...,남,49세,상해없음,보행자,여,30세,경상,상계동,16시,주간
2,2021010100100186,2021년 1월 1일 19시,금요일,서울특별시 강동구 성내동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,30세,상해없음,보행자,여,16세,경상,성내동,19시,주간
3,2021010200100014,2021년 1월 2일 03시,토요일,서울특별시 은평구 녹번동,중상사고,0,1,0,0,차대사람 - 기타,...,남,66세,상해없음,보행자,남,39세,중상,녹번동,03시,야간
4,2021010200100029,2021년 1월 2일 07시,토요일,서울특별시 종로구 평창동,사망사고,1,0,0,0,차대사람 - 횡단중,...,남,65세,상해없음,보행자,여,49세,사망,평창동,07시,주간
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7070,2021123100100487,2021년 12월 31일 19시,금요일,서울특별시 은평구 역촌동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,남,29세,상해없음,보행자,여,56세,중상,역촌동,19시,주간
7071,2021123100100533,2021년 12월 31일 20시,금요일,서울특별시 중구 충무로4가,중상사고,0,1,0,0,차대사람 - 횡단중,...,남,74세,상해없음,보행자,여,77세,중상,충무로4가,20시,야간
7072,2021123100100562,2021년 12월 31일 21시,금요일,서울특별시 마포구 서교동,중상사고,0,1,0,0,차대사람 - 길가장자리구역통행중,...,남,31세,상해없음,보행자,남,30세,중상,서교동,21시,야간
7073,2021123100100565,2021년 12월 31일 21시,금요일,서울특별시 강남구 세곡동,중상사고,0,1,0,0,차대사람 - 횡단중,...,여,42세,상해없음,보행자,여,49세,중상,세곡동,21시,야간
7074,2021123100100625,2021년 12월 31일 23시,금요일,서울특별시 서초구 반포동,경상사고,0,0,1,0,차대사람 - 기타,...,남,59세,상해없음,보행자,여,27세,경상,반포동,23시,야간

In [ ]:
len(acc.동.unique())

390

In [ ]:
acc_count = acc.groupby(["동","주야구분"]).size()
acc_count = acc_count.reset_index()
acc_count = acc_count.rename(columns = {0:"사고횟수"})
acc_count

        동 주야구분  사고횟수
0     가락동   야간    19
1     가락동   주간    40
2    가리봉동   야간     7
3    가리봉동   주간    10
4     가산동   야간     6
..    ...  ...   ...
649   휘경동   주간    20
650   흑석동   야간     6
651   흑석동   주간    22
652   흥인동   야간     4
653   흥인동   주간     4

[654 rows x 3 columns]

In [ ]:
acc_day = acc_count[acc_count.주야구분 == "주간"].rename(columns = {"사고횟수":"주간사고횟수"})
acc_night = acc_count[acc_count.주야구분 == "야간"].rename(columns = {"사고횟수":"야간사고횟수"})
acc_count_final = pd.merge(acc_day,acc_night,how = "outer" ,on = "동").iloc[:,[0,2,4]]
acc_count_final

         동  주간사고횟수  야간사고횟수
0      가락동    40.0    19.0
1     가리봉동    10.0     7.0
2      가산동    30.0     6.0
3      가양동    14.0     3.0
4      가회동     2.0     NaN
..     ...     ...     ...
385    충신동     NaN     2.0
386  태평로2가     NaN     1.0
387    홍파동     NaN     1.0
388    효제동     NaN     1.0
389    훈정동     NaN     1.0

[390 rows x 3 columns]

In [ ]:
acc_count_final[acc_count_final.동 == "가회동"]

     동  주간사고횟수  야간사고횟수
4  가회동     2.0     NaN

In [ ]:
# 사고횟수가 na로 들어가 있다는 것은 사고 횟수가 없음을 뜻한다. 따라서 0으로 채워준다.

acc_count_final[acc_count_final.주간사고횟수.isna() == True] = acc_count_final[acc_count_final.주간사고횟수.isna() == True].replace(np.nan,0)
acc_count_final[acc_count_final.야간사고횟수.isna() == True] = acc_count_final[acc_count_final.야간사고횟수.isna() == True].replace(np.nan,0)
acc_count_final.isna().sum() # na값이 0으로 잘 대체되었다.

동         0
주간사고횟수    0
야간사고횟수    0
dtype: int64

In [ ]:
acc_count_final["야간사고비율"] = acc_count_final["야간사고횟수"] / (acc_count_final["주간사고횟수"] + acc_count_final["야간사고횟수"])
acc_count_final

         동  주간사고횟수  야간사고횟수    야간사고비율
0      가락동    40.0    19.0  0.322034
1     가리봉동    10.0     7.0  0.411765
2      가산동    30.0     6.0  0.166667
3      가양동    14.0     3.0  0.176471
4      가회동     2.0     0.0  0.000000
..     ...     ...     ...       ...
385    충신동     0.0     2.0  1.000000
386  태평로2가     0.0     1.0  1.000000
387    홍파동     0.0     1.0  1.000000
388    효제동     0.0     1.0  1.000000
389    훈정동     0.0     1.0  1.000000

[390 rows x 4 columns]

In [ ]:
acc_count_final["야간사고비율"].describe()

count    390.000000
mean       0.266679
std        0.246445
min        0.000000
25%        0.000000
50%        0.250000
75%        0.351244
max        1.000000
Name: 야간사고비율, dtype: float64

**야간사고 위험도 기준**

* 주간사고 10건 이상 & 야간사고비율 33% 이상 -> A그룹
* 주간사고 10건 이상 & 야간사고비율 20% 이상 -> B그룹
* 주간사고 10건 이하 or 주간사고 10건 이상 & 야간사고비율 20% 이하 -> C그룹

In [ ]:
# 야간사고 위험도 변수 생성

acc_count_final["야간사고위험도"] = np.nan

for i in range(acc_count_final.shape[0]):
  if (acc_count_final["주간사고횟수"][i] >= 10) & (acc_count_final["야간사고비율"][i] >= 0.33):
    acc_count_final["야간사고위험도"][i] = "A"
  elif (acc_count_final["주간사고횟수"][i] >= 10) & (acc_count_final["야간사고비율"][i] >= 0.2):
    acc_count_final["야간사고위험도"][i] = "B"
  else:
    acc_count_final["야간사고위험도"][i] = "C"

acc_count_final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

         동  주간사고횟수  야간사고횟수    야간사고비율 야간사고위험도
0      가락동    40.0    19.0  0.322034       B
1     가리봉동    10.0     7.0  0.411765       A
2      가산동    30.0     6.0  0.166667       C
3      가양동    14.0     3.0  0.176471       C
4      가회동     2.0     0.0  0.000000       C
..     ...     ...     ...       ...     ...
385    충신동     0.0     2.0  1.000000       C
386  태평로2가     0.0     1.0  1.000000       C
387    홍파동     0.0     1.0  1.000000       C
388    효제동     0.0     1.0  1.000000       C
389    훈정동     0.0     1.0  1.000000       C

[390 rows x 5 columns]

In [ ]:
acc_count_final.value_counts("야간사고위험도")

야간사고위험도
C    280
B     79
A     31
dtype: int64

In [ ]:
# acc_count_final.to_csv("법정동별_교툥사고횟수.csv", index = False)

In [ ]:
code = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/code_map.csv")

In [ ]:
set(code.법정동) - set(acc_count_final.동)

{'견지동',
 '경운동',
 '과해동',
 '관훈동',
 '광희동2가',
 '구수동',
 '권농동',
 '남대문로2가',
 '남대문로3가',
 '남대문로4가',
 '남산동1가',
 '남산동2가',
 '남산동3가',
 '남학동',
 '내수동',
 '누상동',
 '당인동',
 '도렴동',
 '명륜3가',
 '무교동',
 '무악동',
 '무학동',
 '묵정동',
 '문래동5가',
 '보문동2가',
 '보문동3가',
 '보문동5가',
 '봉원동',
 '사간동',
 '사직동',
 '산림동',
 '산천동',
 '삼청동',
 '서계동',
 '송월동',
 '송현동',
 '수송동',
 '수하동',
 '신영동',
 '신창동',
 '예관동',
 '오곡동',
 '오쇠동',
 '옥인동',
 '와룡동',
 '용산동4가',
 '용산동5가',
 '운니동',
 '원남동',
 '원서동',
 '원효로3가',
 '을지로4가',
 '을지로7가',
 '의주로2가',
 '입정동',
 '장교동',
 '적선동',
 '종로1가',
 '주성동',
 '주자동',
 '중학동',
 '청운동',
 '충무로1가',
 '충정로1가',
 '토정동',
 '팔판동',
 '필동1가',
 '하중동',
 '합동',
 '행촌동',
 '현석동',
 '화동',
 '회현동2가',
 '회현동3가',
 '효자동'}

### 동별 평균 연령 전처리

In [ ]:
pop_dens = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/동별평균나이.csv")
pop_dens = pop_dens.iloc[1:,1:]

In [ ]:
pop_dens = pop_dens[pop_dens.동 != "소계"]
pop_dens

        동  평균나이
2     사직동  45.3
3     삼청동  48.2
4     부암동  45.3
5     평창동  45.1
6     무악동  43.3
..    ...   ...
447  암사1동  44.7
448  천호2동  45.0
449    길동  44.7
450  상일1동  39.0
451  상일2동  40.2

[426 rows x 2 columns]

In [ ]:
pop_dens2 = pd.merge(pop_dens, code.iloc[:,[1,2,5]], how = "left", left_on = "동", right_on = "행정동")
pop_dens2

        동  평균나이   행정동  법정동  법정동갯수
0     사직동  45.3   사직동  통의동     12
1     사직동  45.3   사직동  적선동     12
2     사직동  45.3   사직동  체부동     12
3     사직동  45.3   사직동  필운동     12
4     사직동  45.3   사직동  내자동     12
..    ...   ...   ...  ...    ...
739  암사1동  44.7  암사1동  암사동      1
740  천호2동  45.0  천호2동  천호동      1
741    길동  44.7    길동   길동      1
742  상일1동  39.0  상일1동  상일동      1
743  상일2동  40.2  상일2동  상일동      1

[744 rows x 5 columns]

In [ ]:
mean_age = pop_dens2.groupby("법정동").mean("평균나이")
mean_age = mean_age.reset_index().iloc[:,:2]
mean_age

      법정동       평균나이
0     가락동  41.633333
1    가리봉동  48.100000
2     가산동  40.500000
3     가양동  44.525000
4     가회동  46.900000
..    ...        ...
460   후암동  44.700000
461   훈정동  51.000000
462   휘경동  41.800000
463   흑석동  44.100000
464   흥인동  46.100000

[465 rows x 2 columns]

In [ ]:
#mean_age.to_csv("법정동별_평균연령.csv", index = False)

### 구별 교통안전지수 법정동 별로 전처리

In [ ]:
tss = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/구별_교통안전지수.csv")
tss

     시군구   안전지수
0    광진구  83.00
1    성북구  81.98
2    도봉구  81.56
3    강북구  81.46
4    금천구  81.25
5    양천구  80.43
6   서대문구  80.33
7    용산구  79.97
8    종로구  79.78
9    마포구  79.48
10   중랑구  79.16
11   노원구  78.86
12   은평구  78.76
13   동작구  78.71
14   성동구  78.71
15   강동구  78.63
16   구로구  78.13
17   관악구  77.93
18   서초구  77.10
19  동대문구  77.07
20   강서구  75.53
21  영등포구  75.22
22    중구  75.20
23   송파구  73.62
24   강남구  67.52

In [ ]:
dong_tss = pd.merge(code.iloc[:,[0,2]],tss, how = "left", left_on = "구", right_on = "시군구").iloc[:,[1,3]].drop_duplicates()
dong_tss

     법정동   안전지수
0    청운동  79.78
1    신교동  79.78
2    궁정동  79.78
3    효자동  79.78
4    창성동  79.78
..   ...    ...
729  암사동  78.63
732  천호동  78.63
735  성내동  78.63
738   길동  78.63
739  둔촌동  78.63

[467 rows x 2 columns]

In [ ]:
#dong_tss.to_csv("법정동별_교통안전지수.csv", index = False)

### 교차로 데이터 전처리

In [ ]:
code["동코드"] = (code["법정동코드"] % 1000) * 100 # 동코드 생성
cw = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021원본데이터/서울시교차로데이터.csv", encoding = "euc-kr")
cw = cw.rename(columns = {"동코드 (공통);": "동코드","구코드 (공통);": "구코드"}) #동코드, 구코드 이름 변경 
cw = cw[["교차로명칭","교차로코드","동코드","구코드"]] # 필요한 데이터만 추출
cw = cw[(cw.동코드.isna() == 0) & (cw.구코드.isna() == 0)] # 동코드 구코드 na값 제거
cw["구코드"] = cw["구코드"].astype(int)
cw["동코드"] = cw["동코드"].astype(int)
cw["수정동코드"]= (cw["구코드"].astype(str) + cw["동코드"].astype(str)).astype(int) #수정동코드 생성

In [ ]:
# 서울특별시 구 코드 생성

g_code= pd.DataFrame([['강남구', '11680'], ['강동구', '11740'], ['강북구', '11300'], ['강서구', '11500'], ['관악구', '11620'], ['광진구', '11210'], ['구로구', '11530'], ['금천구', '11540'], ['노원구', '11350'], ['도봉구', '11320'], ['동대문구', '11230'], ['동작구', '11590'], ['마포구', '11440'], ['서대문구', '11410'], ['서초구', '11650'], ['성동구', '11200'], ['성북구', '11290'], ['송파구', '11710'], ['양천구', '11470'], ['영등포구', '11560'], ['용산구', '11170'], ['은평구', '11380'], ['종로구', '11110'], ['중구', '11140'], ['중랑구', '11260']],
             )
g_code= g_code.rename(columns = {0:"구",1:"구코드"})

g_code["구코드"] = g_code["구코드"].astype(int)
g_code["구코드"] = g_code["구코드"] % 1000
g_code

       구  구코드
0    강남구  680
1    강동구  740
2    강북구  300
3    강서구  500
4    관악구  620
5    광진구  210
6    구로구  530
7    금천구  540
8    노원구  350
9    도봉구  320
10  동대문구  230
11   동작구  590
12   마포구  440
13  서대문구  410
14   서초구  650
15   성동구  200
16   성북구  290
17   송파구  710
18   양천구  470
19  영등포구  560
20   용산구  170
21   은평구  380
22   종로구  110
23    중구  140
24   중랑구  260

In [ ]:
code2 = pd.merge(code,g_code,how = "left", on = "구")
code2

       구    행정동  법정동     행정동코드     법정동코드  법정동갯수    동코드  구코드
0    종로구  청운효자동  청운동  11110515  11110101     10  10100  110
1    종로구  청운효자동  신교동  11110515  11110102     10  10200  110
2    종로구  청운효자동  궁정동  11110515  11110103     10  10300  110
3    종로구  청운효자동  효자동  11110515  11110104     10  10400  110
4    종로구  청운효자동  창성동  11110515  11110105     10  10500  110
..   ...    ...  ...       ...       ...    ...    ...  ...
736  강동구   성내2동  성내동  11740650  11740108      1  10800  740
737  강동구   성내3동  성내동  11740660  11740108      1  10800  740
738  강동구     길동   길동  11740685  11740105      1  10500  740
739  강동구   둔촌1동  둔촌동  11740690  11740106      1  10600  740
740  강동구   둔촌2동  둔촌동  11740700  11740106      1  10600  740

[741 rows x 8 columns]

In [ ]:
code2["수정동코드"]= (code2["구코드"].astype(str) + code2["동코드"].astype(str)).astype(int)
code2

       구    행정동  법정동     행정동코드     법정동코드  법정동갯수    동코드  구코드     수정동코드
0    종로구  청운효자동  청운동  11110515  11110101     10  10100  110  11010100
1    종로구  청운효자동  신교동  11110515  11110102     10  10200  110  11010200
2    종로구  청운효자동  궁정동  11110515  11110103     10  10300  110  11010300
3    종로구  청운효자동  효자동  11110515  11110104     10  10400  110  11010400
4    종로구  청운효자동  창성동  11110515  11110105     10  10500  110  11010500
..   ...    ...  ...       ...       ...    ...    ...  ...       ...
736  강동구   성내2동  성내동  11740650  11740108      1  10800  740  74010800
737  강동구   성내3동  성내동  11740660  11740108      1  10800  740  74010800
738  강동구     길동   길동  11740685  11740105      1  10500  740  74010500
739  강동구   둔촌1동  둔촌동  11740690  11740106      1  10600  740  74010600
740  강동구   둔촌2동  둔촌동  11740700  11740106      1  10600  740  74010600

[741 rows x 9 columns]

In [ ]:
# 필요한 코드만 가져오고 1:M 관계로 생기는 중복 제거

code3 = code2.iloc[:,[2,8]].drop_duplicates("수정동코드")
code3

     법정동     수정동코드
0    청운동  11010100
1    신교동  11010200
2    궁정동  11010300
3    효자동  11010400
4    창성동  11010500
..   ...       ...
729  암사동  74010700
732  천호동  74010900
735  성내동  74010800
738   길동  74010500
739  둔촌동  74010600

[467 rows x 2 columns]

In [ ]:
cw_ct = pd.merge(cw, code3,how="left", on = "수정동코드")
cw_ct

           교차로명칭  교차로코드    동코드  구코드     수정동코드    법정동
0     독산역롯데캐슬아파트   1409  10200  540  54010200    독산동
1          금천구청역   1410  10300  540  54010300    시흥동
2          금천경찰서   1411  10300  540  54010300    시흥동
3       시흥동오피스빌딩   1412  10300  540  54010300    시흥동
4         안양천삼거리   1413  10200  540  54010200    독산동
...          ...    ...    ...  ...       ...    ...
8040    원가정의학과의원   8548  10700  380  38010700    응암동
8041      강덕초등학교   8550  10200  740  74010200    고덕동
8042      우체국사거리   8570  12700  560  56012700  양평동3가
8043       일민유치원   8575  11500  170  17011500    산천동
8044  위례포레샤인13단지   8596  10900  710  71010900    장지동

[8045 rows x 6 columns]

In [ ]:
# 정확한 법정동이 나오지 않는 지역 수기로 수정

cw_ct[cw_ct.수정동코드==38011100] = cw_ct[cw_ct.수정동코드==38011100].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==74010400] = cw_ct[cw_ct.수정동코드==74010400].replace({"법정동":np.nan},"강일동")
cw_ct[cw_ct.수정동코드==68010200] = cw_ct[cw_ct.수정동코드==68010200].replace({"법정동":np.nan},"개포동")
cw_ct[cw_ct.수정동코드==21010600] = cw_ct[cw_ct.수정동코드==21010600].replace({"법정동":np.nan},"자양동")
cw_ct[cw_ct.수정동코드==21010800] = cw_ct[cw_ct.수정동코드==21010800].replace({"법정동":np.nan},"화양동")
cw_ct[cw_ct.수정동코드==38011300] = cw_ct[cw_ct.수정동코드==38011300].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==38011200] = cw_ct[cw_ct.수정동코드==38011200].replace({"법정동":np.nan},"진관동")
cw_ct[cw_ct.수정동코드==17017400] = cw_ct[cw_ct.수정동코드==17017400].replace({"법정동":np.nan},"서계동")
cw_ct[(cw_ct.법정동.isna()==True)&(cw_ct.구코드==410)] = cw_ct[(cw_ct.법정동.isna()==True)&(cw_ct.구코드==410)].replace({"법정동":np.nan},"창천동")

In [ ]:
cw_ct2 = cw_ct.value_counts("법정동").reset_index()
cw_ct2 = cw_ct2.rename(columns = {0:"교차로수"})
cw_ct2

      법정동  교차로수
0     신정동   173
1     신림동   154
2     상계동   143
3      목동   128
4     구로동   127
..    ...   ...
407   방산동     1
408  필동2가     1
409   송월동     1
410   당주동     1
411  필동3가     1

[412 rows x 2 columns]

In [ ]:
# cw_ct2.to_csv("법정동별_교차로수.csv", index = False)

## 3. 2019 데이터 결합(train dataset)

### 전처리 완료 데이터 결합

In [ ]:
a = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동_면적.csv")
b = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_주민등록수.csv")
c = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_주야별_생활인구.csv")
d = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_횡단보도수.csv")
e = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동자동차수.csv").rename(columns = {"동":"법정동"})

In [ ]:
c1 = c[c.주야구분=="주간"]
c2 = c[c.주야구분=="야간"]

In [ ]:
# 데이터 결합
f = pd.merge(a, b, how = "inner", left_on = "EMD_NM", right_on = "법정동")
f =f.iloc[:,2:].rename(columns = {"AREA" : "면적", "계": "주민등록수"})
g = pd.merge(f,c1,how ="inner", on="법정동")
g = g.iloc[:,[1,0,2,4]].rename(columns = {"보정생활인구수":"주간생활인구수"})
h = pd.merge(g, c2, how = "inner", on = "법정동")
h = h.iloc[:,[0,1,2,3,5]].rename(columns = {"보정생활인구수":"야간생활인구수"})
i = pd.merge(h, d, how = "inner", on = "법정동").rename(columns = {"보정횡단보도수":"횡단보도수"})
j = pd.merge(i, e, how = "inner", on = "법정동").rename(columns = {"자동차수" : "자동차보유대수"})
j

,법정동,면적,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수
0,보문동7가,66532.291,2379.000000,31475.391043,29435.903663,12.0,302
1,돈암동,1129616.037,64275.833333,586948.203627,625279.764539,183.0,12098
2,석관동,1732139.069,36507.000000,335189.902928,331550.133437,154.0,9392
3,삼선동4가,87512.987,2890.333333,41625.603859,35320.813878,17.0,724
4,동선동2가,99076.594,2034.500000,45638.994774,36962.922112,16.0,334
...,...,...,...,...,...,...,...
461,용두동,1272457.200,16072.000000,305472.982960,218064.388818,122.0,8264
462,청량리동,1198336.957,21808.000000,283227.872131,213673.452788,79.0,5523
463,대현동,464930.546,4874.400000,217417.301003,127671.962444,31.0,1300
464,인의동,82404.977,291.241379,45843.131624,13493.417589,10.0,441
465,훈정동,206006.006,291.241379,45843.131624,13493.417589,10.0,1

In [ ]:
j = j.iloc[:,[0,2,3,4,5,6,1]]
j

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069
3,삼선동4가,2890.333333,41625.603859,35320.813878,17.0,724,87512.987
4,동선동2가,2034.500000,45638.994774,36962.922112,16.0,334,99076.594
...,...,...,...,...,...,...,...
461,용두동,16072.000000,305472.982960,218064.388818,122.0,8264,1272457.200
462,청량리동,21808.000000,283227.872131,213673.452788,79.0,5523,1198336.957
463,대현동,4874.400000,217417.301003,127671.962444,31.0,1300,464930.546
464,인의동,291.241379,45843.131624,13493.417589,10.0,441,82404.977
465,훈정동,291.241379,45843.131624,13493.417589,10.0,1,206006.006

### 교통사고 데이터 결합

In [ ]:
df = j.copy()
acc_ct = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_교툥사고횟수.csv")
display(df.head(3), acc_ct.head(3))

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069

      동  주간사고횟수  야간사고횟수    야간사고비율 야간사고위험도
0   가락동    53.0    28.0  0.345679       B
1  가리봉동    13.0     4.0  0.235294       C
2   가산동    27.0    15.0  0.357143       B

In [ ]:
new_df = pd.merge(df, acc_ct, how = "left", left_on = "법정동", right_on = "동").drop(["동"], axis = 1)
new_df

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291,3.0,2.0,0.400000,C
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037,10.0,10.0,0.500000,A
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069,20.0,8.0,0.285714,B
3,삼선동4가,2890.333333,41625.603859,35320.813878,17.0,724,87512.987,1.0,2.0,0.666667,C
4,동선동2가,2034.500000,45638.994774,36962.922112,16.0,334,99076.594,1.0,1.0,0.500000,C
...,...,...,...,...,...,...,...,...,...,...,...
461,용두동,16072.000000,305472.982960,218064.388818,122.0,8264,1272457.200,29.0,12.0,0.292683,B
462,청량리동,21808.000000,283227.872131,213673.452788,79.0,5523,1198336.957,23.0,12.0,0.342857,B
463,대현동,4874.400000,217417.301003,127671.962444,31.0,1300,464930.546,7.0,7.0,0.500000,C
464,인의동,291.241379,45843.131624,13493.417589,10.0,441,82404.977,2.0,0.0,0.000000,C
465,훈정동,291.241379,45843.131624,13493.417589,10.0,1,206006.006,NaN,NaN,NaN,NaN

In [ ]:
# 결측치 처리(사고횟수x -> 0, 야간사고비율x -> 0, 야간사고위험도x -> "C")
new_df[new_df["주간사고횟수"].isna() == True] = new_df[new_df["주간사고횟수"].isna() == True].replace({'주간사고횟수': np.nan,'야간사고횟수': np.nan ,'야간사고비율': np.nan},0)
new_df[new_df["야간사고위험도"].isna() == True] = new_df[new_df["야간사고위험도"].isna() == True].replace({'야간사고위험도': np.nan},"C") # 위 코드로 인해 야간사고위험도가 0으로 들어가므로 0->C로 변환해준다

new_df

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291,3.0,2.0,0.400000,C
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037,10.0,10.0,0.500000,A
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069,20.0,8.0,0.285714,B
3,삼선동4가,2890.333333,41625.603859,35320.813878,17.0,724,87512.987,1.0,2.0,0.666667,C
4,동선동2가,2034.500000,45638.994774,36962.922112,16.0,334,99076.594,1.0,1.0,0.500000,C
...,...,...,...,...,...,...,...,...,...,...,...
461,용두동,16072.000000,305472.982960,218064.388818,122.0,8264,1272457.200,29.0,12.0,0.292683,B
462,청량리동,21808.000000,283227.872131,213673.452788,79.0,5523,1198336.957,23.0,12.0,0.342857,B
463,대현동,4874.400000,217417.301003,127671.962444,31.0,1300,464930.546,7.0,7.0,0.500000,C
464,인의동,291.241379,45843.131624,13493.417589,10.0,441,82404.977,2.0,0.0,0.000000,C
465,훈정동,291.241379,45843.131624,13493.417589,10.0,1,206006.006,0.0,0.0,0.000000,C

In [ ]:
# 결측치가 깔끔하게 없어졌다.
new_df.isna().sum()

법정동        0
주민등록수      0
주간생활인구수    0
야간생활인구수    0
횡단보도수      0
자동차보유대수    0
면적         0
주간사고횟수     0
야간사고횟수     0
야간사고비율     0
야간사고위험도    0
dtype: int64

In [ ]:
new_df.야간사고위험도.value_counts()

C    342
B     87
A     37
Name: 야간사고위험도, dtype: int64

In [ ]:
#new_df.to_csv("최종데이터(수정가능).csv", index = False)

In [ ]:
new_df.corr()

,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율
주민등록수,1.000000,0.928014,0.981973,0.918887,0.903953,0.743622,0.908481,0.820568,0.038454
주간생활인구수,0.928014,1.000000,0.971527,0.921438,0.910549,0.745266,0.922824,0.876789,0.057985
야간생활인구수,0.981973,0.971527,1.000000,0.918111,0.917001,0.750375,0.918223,0.851353,0.050304
횡단보도수,0.918887,0.921438,0.918111,1.000000,0.869847,0.709754,0.894764,0.787793,0.035276
자동차보유대수,0.903953,0.910549,0.917001,0.869847,1.000000,0.754507,0.874220,0.815019,0.042542
면적,0.743622,0.745266,0.750375,0.709754,0.754507,1.000000,0.666212,0.640528,0.043739
주간사고횟수,0.908481,0.922824,0.918223,0.894764,0.874220,0.666212,1.000000,0.921218,0.026997
야간사고횟수,0.820568,0.876789,0.851353,0.787793,0.815019,0.640528,0.921218,1.000000,0.149339
야간사고비율,0.038454,0.057985,0.050304,0.035276,0.042542,0.043739,0.026997,0.149339,1.000000

### 평균연령, 교차로수, 교통안전지수 결합

In [ ]:
df = new_df.copy()
mean_age = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_평균연령.csv")
cw_ct = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_교차로수.csv")
tss = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_교통안전지수.csv")

display(df.head(2),mean_age.head(2),cw_ct.head(2),tss.head(2))

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291,3.0,2.0,0.4,C
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037,10.0,10.0,0.5,A

    법정동  전체평균연령
0   가락동    40.3
1  가리봉동    48.9

   법정동  교차로수
0  신정동   173
1  신림동   154

   법정동   안전지수
0  청운동  79.77
1  신교동  79.77

In [ ]:
a = pd.merge(df,mean_age,how="left",on="법정동")
b = pd.merge(a,cw_ct,how="left",on="법정동")
c = pd.merge(b,tss,how="left",on="법정동")
c[c.교차로수.isna()==True] = c[c.교차로수.isna()==True].replace({"교차로수":np.nan},0) #교차로 수가 없는 곳은 0으로 처리해준다.
c = c.drop_duplicates("법정동", keep="last") #중복값제거
c

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도,전체평균연령,교차로수,안전지수
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291,3.0,2.0,0.400000,C,42.4,2.0,81.42
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037,10.0,10.0,0.500000,A,42.5,21.0,81.42
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069,20.0,8.0,0.285714,B,45.0,21.0,81.42
3,삼선동4가,2890.333333,41625.603859,35320.813878,17.0,724,87512.987,1.0,2.0,0.666667,C,43.0,2.0,81.42
4,동선동2가,2034.500000,45638.994774,36962.922112,16.0,334,99076.594,1.0,1.0,0.500000,C,40.7,2.0,81.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,용두동,16072.000000,305472.982960,218064.388818,122.0,8264,1272457.200,29.0,12.0,0.292683,B,44.7,28.0,74.03
470,청량리동,21808.000000,283227.872131,213673.452788,79.0,5523,1198336.957,23.0,12.0,0.342857,B,48.9,23.0,74.03
471,대현동,4874.400000,217417.301003,127671.962444,31.0,1300,464930.546,7.0,7.0,0.500000,C,38.2,6.0,78.58
472,인의동,291.241379,45843.131624,13493.417589,10.0,441,82404.977,2.0,0.0,0.000000,C,51.2,5.0,79.77
473,훈정동,291.241379,45843.131624,13493.417589,10.0,1,206006.006,0.0,0.0,0.000000,C,51.2,0.0,79.77

In [ ]:
# 사용할 변수들만 추출

c = c.iloc[:,[0,1,2,3,4,5,6,10,11,12,13]]
c

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,야간사고위험도,전체평균연령,교차로수,안전지수
0,보문동7가,2379.000000,31475.391043,29435.903663,12.0,302,66532.291,C,42.4,2.0,81.42
1,돈암동,64275.833333,586948.203627,625279.764539,183.0,12098,1129616.037,A,42.5,21.0,81.42
2,석관동,36507.000000,335189.902928,331550.133437,154.0,9392,1732139.069,B,45.0,21.0,81.42
3,삼선동4가,2890.333333,41625.603859,35320.813878,17.0,724,87512.987,C,43.0,2.0,81.42
4,동선동2가,2034.500000,45638.994774,36962.922112,16.0,334,99076.594,C,40.7,2.0,81.42
...,...,...,...,...,...,...,...,...,...,...,...
469,용두동,16072.000000,305472.982960,218064.388818,122.0,8264,1272457.200,B,44.7,28.0,74.03
470,청량리동,21808.000000,283227.872131,213673.452788,79.0,5523,1198336.957,B,48.9,23.0,74.03
471,대현동,4874.400000,217417.301003,127671.962444,31.0,1300,464930.546,C,38.2,6.0,78.58
472,인의동,291.241379,45843.131624,13493.417589,10.0,441,82404.977,C,51.2,5.0,79.77
473,훈정동,291.241379,45843.131624,13493.417589,10.0,1,206006.006,C,51.2,0.0,79.77

In [ ]:
#c.to_csv("2019최종데이터.csv",index = False)

In [ ]:
aa = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2019전처리완료데이터/2019법정동별_주야별_생활인구.csv")
aa

      법정동 주야구분       보정생활인구수
0     가락동   야간  1.005555e+06
1     가락동   주간  1.166300e+06
2    가리봉동   야간  1.261616e+05
3    가리봉동   주간  1.501268e+05
4     가산동   야간  4.159999e+05
..    ...  ...           ...
919   휘경동   주간  4.985842e+05
920   흑석동   야간  4.349785e+05
921   흑석동   주간  5.192793e+05
922   흥인동   야간  1.053543e+05
923   흥인동   주간  1.250106e+05

[924 rows x 3 columns]

In [ ]:
pd.DataFrame(aa.groupby("법정동")["보정생활인구수"].sum()).rename(columns = {"보정생활인구수":"생활인구수"}).to_csv("2019생활인구수.csv")

## 4. 2021 데이터 결합(labeling dataset)

### 전처리 완료 데이터 결합

In [ ]:
a = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동_면적.csv")
b = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_주민등록수.csv")
c = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_주야별_생활인구.csv")
d = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_횡단보도수.csv")
e = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동자동차수.csv")

In [ ]:
c1 = c[c.주야구분=="주간"]
c2 = c[c.주야구분=="야간"]

In [ ]:
# 데이터 결합
f = pd.merge(a, b, how = "inner", left_on = "EMD_NM", right_on = "읍면동명")
f = f.iloc[:,2:].rename(columns = {"AREA" : "면적", "계": "주민등록수"})
g = pd.merge(f,c1,how ="inner", left_on = "읍면동명", right_on = "법정동")
g = g.iloc[:,[3,2,5,0]].rename(columns = {"보정생활인구수":"주간생활인구수"})
h = pd.merge(g, c2, how = "inner", on = "법정동")
h = h.iloc[:,[0,1,2,5,3]].rename(columns = {"보정생활인구수":"야간생활인구수"})
i = pd.merge(h, d, how = "inner", on = "법정동").rename(columns = {"보정횡단보도수":"횡단보도수"})
j = pd.merge(i, e, how = "inner", on = "법정동").rename(columns = {"보정합계" : "자동차보유대수"})
j

,법정동,주민등록수,주간생활인구수,야간생활인구수,면적,횡단보도수,자동차보유대수
0,보문동7가,1073,28909.332719,27804.892401,66532.291,12.0,634.571429
1,돈암동,39086,598291.945960,626755.188407,1129616.037,183.0,18147.916667
2,석관동,35011,366643.747394,343997.271731,1732139.069,154.0,9738.000000
3,삼선동4가,3291,38367.864229,31848.042628,87512.987,17.0,638.666667
4,동선동2가,2134,44797.292760,35851.275572,99076.594,16.0,430.250000
...,...,...,...,...,...,...,...
452,군자동,19553,278495.676430,234410.303238,733525.769,79.0,5068.000000
453,용두동,28395,289697.521444,206027.897403,1272457.200,122.0,4898.500000
454,청량리동,18800,263771.112309,201303.322857,1198336.957,79.0,5141.000000
455,대현동,6189,166145.550138,97246.542391,464930.546,31.0,799.200000
456,인의동,1027,37121.181423,10213.518903,82404.977,10.0,201.206897

In [ ]:
j = j.iloc[:,[0,1,2,3,5,6,4]]
j["자동차보유대수"] = round(j.자동차보유대수,0)
j

       법정동  주민등록수        주간생활인구수        야간생활인구수  횡단보도수  자동차보유대수           면적
0    보문동7가   1073   28909.332719   27804.892401   12.0    635.0    66532.291
1      돈암동  39086  598291.945960  626755.188407  183.0  18148.0  1129616.037
2      석관동  35011  366643.747394  343997.271731  154.0   9738.0  1732139.069
3    삼선동4가   3291   38367.864229   31848.042628   17.0    639.0    87512.987
4    동선동2가   2134   44797.292760   35851.275572   16.0    430.0    99076.594
..     ...    ...            ...            ...    ...      ...          ...
452    군자동  19553  278495.676430  234410.303238   79.0   5068.0   733525.769
453    용두동  28395  289697.521444  206027.897403  122.0   4898.0  1272457.200
454   청량리동  18800  263771.112309  201303.322857   79.0   5141.0  1198336.957
455    대현동   6189  166145.550138   97246.542391   31.0    799.0   464930.546
456    인의동   1027   37121.181423   10213.518903   10.0    201.0    82404.977

[457 rows x 7 columns]

In [ ]:
null_data = pd.DataFrame({
    "법정동" : ["상일동", "번동", "흥인동","항동"],
    "주민등록수" : [48977,50953,2221,16391],
    "주간생활인구수" : [np.nan,np.nan,98100.00425,np.nan],
    "야간생활인구수" : [np.nan,np.nan,112391.73626,np.nan],
    "횡단보도수" : [120,242,31,82],
    "자동차보유대수" : [1367,12942,1111,3143],
    "면적" : [2918440.218, 2669941.367,124599.227,1445882.624],

})

In [ ]:
k = pd.concat([j, null_data])
k = k.set_index(np.arange(k.shape[0]))
k

       법정동  주민등록수        주간생활인구수        야간생활인구수  횡단보도수  자동차보유대수           면적
0    보문동7가   1073   28909.332719   27804.892401   12.0    635.0    66532.291
1      돈암동  39086  598291.945960  626755.188407  183.0  18148.0  1129616.037
2      석관동  35011  366643.747394  343997.271731  154.0   9738.0  1732139.069
3    삼선동4가   3291   38367.864229   31848.042628   17.0    639.0    87512.987
4    동선동2가   2134   44797.292760   35851.275572   16.0    430.0    99076.594
..     ...    ...            ...            ...    ...      ...          ...
456    인의동   1027   37121.181423   10213.518903   10.0    201.0    82404.977
457    상일동  48977            NaN            NaN  120.0   1367.0  2918440.218
458     번동  50953            NaN            NaN  242.0  12942.0  2669941.367
459    흥인동   2221   98100.004250  112391.736260   31.0   1111.0   124599.227
460     항동  16391            NaN            NaN   82.0   3143.0  1445882.624

[461 rows x 7 columns]

In [ ]:
l = k.drop([96,97,98,218,220,221])
l = l.set_index(np.arange(l.shape[0]))
l

       법정동  주민등록수        주간생활인구수        야간생활인구수  횡단보도수  자동차보유대수           면적
0    보문동7가   1073   28909.332719   27804.892401   12.0    635.0    66532.291
1      돈암동  39086  598291.945960  626755.188407  183.0  18148.0  1129616.037
2      석관동  35011  366643.747394  343997.271731  154.0   9738.0  1732139.069
3    삼선동4가   3291   38367.864229   31848.042628   17.0    639.0    87512.987
4    동선동2가   2134   44797.292760   35851.275572   16.0    430.0    99076.594
..     ...    ...            ...            ...    ...      ...          ...
450    인의동   1027   37121.181423   10213.518903   10.0    201.0    82404.977
451    상일동  48977            NaN            NaN  120.0   1367.0  2918440.218
452     번동  50953            NaN            NaN  242.0  12942.0  2669941.367
453    흥인동   2221   98100.004250  112391.736260   31.0   1111.0   124599.227
454     항동  16391            NaN            NaN   82.0   3143.0  1445882.624

[455 rows x 7 columns]

In [ ]:
from sklearn.linear_model import LinearRegression

missing = l.iloc[[451,452,454],1:]

# 학습데이터 생성: X,y에 결측치 삭제

X1 = l.dropna(axis = 0).iloc[:,[1,4,5,6]]
y1 = l.dropna(axis = 0)["주간생활인구수"]

#선형회귀모델 생성

reg1 = LinearRegression()

reg_m1 = reg1.fit(X1,y1)

# 선형회귀모델로 '주간생활인구수' 추정값 계산

y_pred1 = reg1.predict(missing.iloc[:,[0,3,4,5]])

print(y_pred1)

from sklearn.linear_model import LinearRegression

missing = l.iloc[[451,452,454],1:]

# 학습데이터 생성: X,y에 결측치 삭제

X1 = l.dropna(axis = 0).iloc[:,[1,4,5,6]]
y1 = l.dropna(axis = 0)["야간생활인구수"]

#선형회귀모델 생성

reg2 = LinearRegression()

reg_m2 = reg2.fit(X1,y1)

# 선형회귀모델로 'whole_weight' 추정값 계산

y_pred2 = reg2.predict(missing.iloc[:,[0,3,4,5]])

print(y_pred2)

[146588.6426337  608262.26109743 180398.1462568 ]
[362764.34938892 551598.97341737 170272.16109124]

In [ ]:
l[l.주간생활인구수.isna()==1]["주간생활인구수"] = y_pred1
l[l.야간생활인구수.isna()==1]["야간생활인구수"] = y_pred2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 결측값 대치

l.iloc[[451,452,454],[2]] = y_pred1
l.iloc[[451,452,454],[3]] = y_pred2

In [ ]:
l.iloc[:,1:].corr()

            주민등록수   주간생활인구수   야간생활인구수     횡단보도수   자동차보유대수        면적
주민등록수    1.000000  0.926119  0.975577  0.897946  0.961547  0.795449
주간생활인구수  0.926119  1.000000  0.973032  0.931296  0.965458  0.780698
야간생활인구수  0.975577  0.973032  1.000000  0.915788  0.970210  0.787142
횡단보도수    0.897946  0.931296  0.915788  1.000000  0.948766  0.768406
자동차보유대수  0.961547  0.965458  0.970210  0.948766  1.000000  0.790952
면적       0.795449  0.780698  0.787142  0.768406  0.790952  1.000000

In [ ]:
# l.to_csv("최종데이터(수정가능).csv", index = False)

### 교통사고 데이터 결합

In [ ]:
new_df = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/최종데이터(수정가능).csv")

In [ ]:
# 결측치 처리(사고횟수x -> 0, 야간사고비율x -> 0, 야간사고위험도x -> "C")
new_df[new_df["주간사고횟수"].isna() == True] = new_df[new_df["주간사고횟수"].isna() == True].replace({'주간사고횟수': np.nan,'야간사고횟수': np.nan ,'야간사고비율': np.nan},0)
new_df[new_df["야간사고위험도"].isna() == True] = new_df[new_df["야간사고위험도"].isna() == True].replace({'야간사고위험도': np.nan},"C") # 위 코드로 인해 야간사고위험도가 0으로 들어가므로 0->C로 변환해준다

new_df

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도
0,보문동7가,1073,28909.332719,27804.892401,12.0,635.0,66532.291,1.0,2.0,0.666667,C
1,돈암동,39086,598291.945960,626755.188407,183.0,18148.0,1129616.037,6.0,2.0,0.250000,C
2,석관동,35011,366643.747394,343997.271731,154.0,9738.0,1732139.069,16.0,4.0,0.200000,B
3,삼선동4가,3291,38367.864229,31848.042628,17.0,639.0,87512.987,5.0,1.0,0.166667,C
4,동선동2가,2134,44797.292760,35851.275572,16.0,430.0,99076.594,1.0,0.0,0.000000,C
...,...,...,...,...,...,...,...,...,...,...,...
450,인의동,1027,37121.181423,10213.518903,10.0,201.0,82404.977,2.0,0.0,0.000000,C
451,상일동,48977,146588.642634,362764.349389,120.0,1367.0,2918440.218,9.0,3.0,0.250000,C
452,번동,50953,608262.261097,551598.973417,242.0,12942.0,2669941.367,34.0,21.0,0.381818,A
453,흥인동,2221,98100.004250,112391.736260,31.0,1111.0,124599.227,4.0,4.0,0.500000,C
454,항동,16391,180398.146257,170272.161091,82.0,3143.0,1445882.624,4.0,1.0,0.200000,C

In [ ]:
# 결측치가 깔끔하게 없어졌다.
new_df.isna().sum()

법정동        0
주민등록수      0
주간생활인구수    0
야간생활인구수    0
횡단보도수      0
자동차보유대수    0
면적         0
주간사고횟수     0
야간사고횟수     0
야간사고비율     0
야간사고위험도    0
dtype: int64

In [ ]:
new_df.야간사고위험도.value_counts()

C    345
B     63
A     47
Name: 야간사고위험도, dtype: int64

In [ ]:
# new_df.to_csv("최종데이터(수정가능).csv", index = False)

In [ ]:
new_df.corr()

,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율
주민등록수,1.000000,0.926119,0.975577,0.897946,0.961547,0.795449,0.898317,0.847121,0.116591
주간생활인구수,0.926119,1.000000,0.973032,0.931296,0.965458,0.780698,0.928025,0.894407,0.120621
야간생활인구수,0.975577,0.973032,1.000000,0.915788,0.970210,0.787142,0.911863,0.865538,0.113909
횡단보도수,0.897946,0.931296,0.915788,1.000000,0.948766,0.768406,0.869553,0.814523,0.115679
자동차보유대수,0.961547,0.965458,0.970210,0.948766,1.000000,0.790952,0.912693,0.865510,0.115498
면적,0.795449,0.780698,0.787142,0.768406,0.790952,1.000000,0.706382,0.699894,0.135503
주간사고횟수,0.898317,0.928025,0.911863,0.869553,0.912693,0.706382,1.000000,0.939722,0.095473
야간사고횟수,0.847121,0.894407,0.865538,0.814523,0.865510,0.699894,0.939722,1.000000,0.228143
야간사고비율,0.116591,0.120621,0.113909,0.115679,0.115498,0.135503,0.095473,0.228143,1.000000

### 평균연령, 교차로수, 교통안전지수 결합

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/최종데이터(수정가능).csv")
mean_age = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_평균연령.csv")
cw_ct = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_교차로수.csv")
tss = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_교통안전지수.csv")

display(df.head(2),mean_age.head(2),cw_ct.head(2),tss.head(2))

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도
0,보문동7가,1073,28909.332719,27804.892401,12.0,635.0,66532.291,1.0,2.0,0.666667,C
1,돈암동,39086,598291.945960,626755.188407,183.0,18148.0,1129616.037,6.0,2.0,0.250000,C

    법정동       평균나이
0   가락동  41.633333
1  가리봉동  48.100000

   법정동  교차로수
0  신정동   173
1  신림동   154

   법정동   안전지수
0  청운동  79.78
1  신교동  79.78

In [ ]:
a = pd.merge(df,mean_age,how="left",on="법정동")
b = pd.merge(a,cw_ct,how="left",on="법정동")
c = pd.merge(b,tss,how="left",on="법정동")
c[c.교차로수.isna()==True] = c[c.교차로수.isna()==True].replace({"교차로수":np.nan},0) #교차로 수가 없는 곳은 0으로 처리해준다.
c = c.drop_duplicates("법정동", keep="last") #중복값제거
c

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,주간사고횟수,야간사고횟수,야간사고비율,야간사고위험도,평균나이,교차로수,안전지수
0,보문동7가,1073,28909.332719,27804.892401,12.0,635.0,66532.291,1.0,2.0,0.666667,C,43.400000,2.0,81.98
1,돈암동,39086,598291.945960,626755.188407,183.0,18148.0,1129616.037,6.0,2.0,0.250000,C,43.483333,21.0,81.98
2,석관동,35011,366643.747394,343997.271731,154.0,9738.0,1732139.069,16.0,4.0,0.200000,B,46.100000,21.0,81.98
3,삼선동4가,3291,38367.864229,31848.042628,17.0,639.0,87512.987,5.0,1.0,0.166667,C,43.900000,2.0,81.98
4,동선동2가,2134,44797.292760,35851.275572,16.0,430.0,99076.594,1.0,0.0,0.000000,C,41.000000,2.0,81.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,인의동,1027,37121.181423,10213.518903,10.0,201.0,82404.977,2.0,0.0,0.000000,C,51.000000,5.0,79.78
453,상일동,48977,146588.642634,362764.349389,120.0,1367.0,2918440.218,9.0,3.0,0.250000,C,39.600000,52.0,78.63
454,번동,50953,608262.261097,551598.973417,242.0,12942.0,2669941.367,34.0,21.0,0.381818,A,48.033333,45.0,81.46
455,흥인동,2221,98100.004250,112391.736260,31.0,1111.0,124599.227,4.0,4.0,0.500000,C,46.100000,6.0,75.20
456,항동,16391,180398.146257,170272.161091,82.0,3143.0,1445882.624,4.0,1.0,0.200000,C,36.800000,22.0,78.13

In [ ]:
# 사용할 변수들만 추출

c = c.iloc[:,[0,1,2,3,4,5,6,10,11,12,13]]
c

,법정동,주민등록수,주간생활인구수,야간생활인구수,횡단보도수,자동차보유대수,면적,야간사고위험도,평균나이,교차로수,안전지수
0,보문동7가,1073,28909.332719,27804.892401,12.0,635.0,66532.291,C,43.400000,2.0,81.98
1,돈암동,39086,598291.945960,626755.188407,183.0,18148.0,1129616.037,C,43.483333,21.0,81.98
2,석관동,35011,366643.747394,343997.271731,154.0,9738.0,1732139.069,B,46.100000,21.0,81.98
3,삼선동4가,3291,38367.864229,31848.042628,17.0,639.0,87512.987,C,43.900000,2.0,81.98
4,동선동2가,2134,44797.292760,35851.275572,16.0,430.0,99076.594,C,41.000000,2.0,81.98
...,...,...,...,...,...,...,...,...,...,...,...
452,인의동,1027,37121.181423,10213.518903,10.0,201.0,82404.977,C,51.000000,5.0,79.78
453,상일동,48977,146588.642634,362764.349389,120.0,1367.0,2918440.218,C,39.600000,52.0,78.63
454,번동,50953,608262.261097,551598.973417,242.0,12942.0,2669941.367,A,48.033333,45.0,81.46
455,흥인동,2221,98100.004250,112391.736260,31.0,1111.0,124599.227,C,46.100000,6.0,75.20
456,항동,16391,180398.146257,170272.161091,82.0,3143.0,1445882.624,C,36.800000,22.0,78.13

In [ ]:
# c.to_csv("최종데이터.csv",index = False)

In [ ]:
aa = pd.read_csv("/content/drive/MyDrive/4조 프로젝트 정리/2021전처리완료데이터/법정동별_주야별_생활인구.csv")
aa

      법정동 주야구분       보정생활인구수
0     가락동   야간  1.075640e+06
1     가락동   주간  1.211905e+06
2    가리봉동   야간  1.788498e+05
3    가리봉동   주간  1.918697e+05
4     가산동   야간  4.427212e+05
..    ...  ...           ...
919   휘경동   주간  4.949171e+05
920   흑석동   야간  3.799440e+05
921   흑석동   주간  4.452368e+05
922   흥인동   야간  9.810000e+04
923   흥인동   주간  1.123917e+05

[924 rows x 3 columns]

In [ ]:
#pd.DataFrame(aa.groupby("법정동")["보정생활인구수"].sum()).rename(columns = {"보정생활인구수":"생활인구수"}).to_csv("2021생활인구.csv")